	/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/01/2018 09:28
  	*/

	@font-face {
	    font-family: "Flaticon";
	    src: url("./Flaticon.eot");
	    src: url("./Flaticon.eot?#iefix") format("embedded-opentype"), url("./Flaticon.woff") format("woff"), url("./Flaticon.ttf") format("truetype"), url("./Flaticon.svg#Flaticon") format("svg");
	    font-weight: normal;
	    font-style: normal;
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
	    @font-face {
	        font-family: "Flaticon";
	        src: url("./Flaticon.svg#Flaticon") format("svg");
	    }
	}

	[class^="flaticon-"]:before,
	[class*=" flaticon-"]:before,
	[class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
	    font-family: Flaticon;
	    font-size: inherit;
	    font-style: normal;
	    /* margin-left: 20px; */
	}

	.flaticon-eyes:before {
	    content: "\f100";
	}

	.flaticon-arrows-1:before {
	    content: "\f101";
	}

	.flaticon-danger:before {
	    content: "\f102";
	}

	.flaticon-cross-out:before {
	    content: "\f103";
	}

	.flaticon-order:before {
	    content: "\f104";
	}

	.flaticon-arrows:before {
	    content: "\f105";
	}

	.flaticon-down-arrow:before {
	    content: "\f106";
	}

	.flaticon-dustbin:before {
	    content: "\f107";
	}

	.flaticon-mark:before {
	    content: "\f108";
	}

	.flaticon-draw:before {
	    content: "\f109";
	}

	.flaticon-settings:before {
	    content: "\f10a";
	}

	.flaticon-input:before {
	    content: "\f10b";
	}

	.flaticon-stairs:before {
	    content: "\f10c";
	}

	.flaticon-folder:before {
	    content: "\f10d";
	}

	.flaticon-cursor:before {
	    content: "\f10e";
	}

	.flaticon-plus:before {
	    content: "\f10f";
	}

	.flaticon-columns:before {
	    content: "\f110";
	}

	.flaticon-magnifying-glass:before {
	    content: "\f111";
	}