<p>feature_name:</p>{{feature_name}}
<p>elapsed:</p>{{elapsed}}
<p>scenarios_count:</p>{{scenarios_count}}
<p>fails_count:</p>{{fails_count}}
<p>success_count:</p>{{success_count}}
<p>errors_count:</p>{{errors_count}}
<p>skips_count:</p>{{skips_count}}
<p>details:</p>{{details}}
