<div class="input-search-data">
    <input id="{{idElementSearchGlobalData}}" type="text" class="form-control no-border-radius txtSearchGlobal" placeholder="{{placeholder}}">
</div>
<div class="grid">
    <div class="grid-row">
        <div class="grid-column">
            <div class="grid-title">
                Name
            </div>
        </div>
        <div class="grid-column">
            <div class="grid-title">
                Default value
            </div>
        </div>
    </div>
    <div class="grid-body">
        <div class="grid-row">
            <div class="grid-column">
                <div class="grid-cell">
                    <div class="no-data">
                        <p class="spinner"><span class="fa fa-spinner fa-pulse" style="color:#5a325a"></span> Loading...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="paging" style="text-align: right"></div>