<!-- template for Child panel in Automation Configuration screen -->
<!-- use template for Object Repositories, Parameters -->
<form name="updateRow">
    <input type="hidden" name="id" value="{{id}}">
    <div class="grid-row add-new-row child-row">
        <div class="grid-column">
            <div class="grid-cell" style="margin-bottom:0">
                <input value="{{name}}" required name="name" type="text" class="form-control no-border-radius" readonly>
                <button class="button-coppy-text" type="button" onclick="coppyClipboard(this)">
                    <span class="fa fa-files-o" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <div class="grid-column">
            <div class="grid-cell" style="margin-bottom:0">
                <input type="text" required name="content" value="{{content}}" class="form-control no-border-radius" readonly>
            </div>
        </div>
    </div>
</form>