<form name="updateRow">
    <input type="hidden" name="id" value="{{id}}">
    <div class="grid-row add-new-row child-row">
        <div class="grid-column">
            <div class="grid-cell" style="margin-bottom:0">
                <button class="button-coppy-text" type="button" onclick="coppyClipboard(this)">
                    <span class="fa fa-files-o" aria-hidden="true"></span>
                </button>
                <input value="{{name}}" required name="name" type="text" onkeyup="displaySaveButton(this)" class="form-control no-border-radius" onclick="viewTestDataContent(this)" readonly>
                <div class="cell-fn">
                    <span class="flaticon-danger flat-error" style="display:none;"></span>
                    <span class="spinner" style="display:none; margin: 13px 10px 10px 0;">
                        <span class="fa fa-spinner fa-pulse" style="color:#5a325a;"></span>
                    </span>
                    <!-- <button type="button" class="btn no-border-radius viewTestDataContent" onclick="viewTestDataContent(this)" style="border-left:0; background: #fff; margin-top:1px">
                        <span class="flaticon-down-arrow"></span>
                    </button> -->
                </div>
            </div>
        </div>
    </div>
    <div class="grid-row row-test-data-content" style="display:none">
        <div class="grid-column">
            <div class="grid-cell">
                <textarea id="textarea-test-data-{{id}}" type="text" value="{{content}}" required name="content" class="form-control no-border-radius textarea-test-data">{{content}}</textarea>
            </div>
        </div>
    </div>
</form>