{{#settings}}
<div class="grid-row add-new-row child-row">
    <div class="grid-column">
        <div class="grid-cell" style="margin-bottom:0">
            <p style="margin: 0; padding: 13px 15px 13px;">{{name}}</p>
        </div>
    </div>
    <div class="grid-column">
        <div class="grid-cell" style="margin-bottom:0">
            <input type="text" value="{{value}}" name="{{name}}" class="form-control no-border-radius" placeholder="Enter value">
        </div>
    </div>
</div>
{{/settings}}