<div class="card-row-steps-definition" data-order="{{dataOrder}}">
    <div class="order-row">{{dataOrder}}</div>
    <input required type="text" class="form-control no-border-radius" value="{{stepData}}"/>
    <div class="remove-row">
        <button type="button" onclick="deleteContentSteps(this)" class="btn no-border-radius removeStep">
            <span class="flaticon-dustbin"></span>
        </button>
    </div>
</div>