<!-- template for Child panel in Configuration screen -->
<!-- use template for Object Repositories, Test Data, Parameters -->
<form name="updateRow">
    <input type="hidden" name="id" value="{{id}}">
    <div class="grid-row add-new-row child-row">
        <div class="grid-column">
            <div class="grid-cell" style="margin-bottom:0">
                <input value="{{name}}" required name="name" type="text" onkeyup="displaySaveButton(this)" class="form-control no-border-radius">
            </div>
        </div>
        <div class="grid-column">
            <div class="grid-cell" style="margin-bottom:0">
                <input type="text" required name="content" value="{{content}}" onkeyup="displaySaveButton(this)" class="form-control no-border-radius">
                <div class="cell-fn">
                    <span class="flaticon-danger flat-error" style="display:none;"></span>
                    <span class="spinner" style="display:none; margin: 13px 10px 10px 0;">
                        <span class="fa fa-spinner fa-pulse" style="color:#5a325a;"></span>
                    </span>
                    <button type="button" onclick="updateGlobalData(this,'{{globalType}}')" class="btn no-border-radius showHideButton editButton"
                        style="display:none">
                        <span class="flaticon-mark"></span>
                    </button>
                    <button type="button" onclick="cancelUpdateGlobalData(this)" class="btn no-border-radius showHideButton cancelButton" style="display:none">
                        <span class="flaticon-cross-out"></span>
                    </button>
                    <button type="button" class="btn no-border-radius deleteRow" onclick="deleteGlobalData(this,'{{globalType}}')">
                        <span class="flaticon-dustbin"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>