<div class="input-search-data">
    <input id="{{idElementSearchGlobalData}}" type="text" class="form-control no-border-radius" placeholder="{{placeholder}}">
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link no-border-radius active" data-toggle="tab" href="#list-tdt-tab" role="tab" aria-controls="list-tdt-tab"
            aria-selected="true" aria-expanded="false">
            List
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link no-border-radius" data-toggle="tab" href="#add-tdt" role="tab" aria-controls="object-repositories" aria-selected="false">
            Add test data
        </a>
    </li>
</ul>
<div class="tab-content">
    <div id="list-tdt-tab" class="tab-pane active">
        <div class="grid">
            <div class="grid-row">
                <div class="grid-column">
                    <div class="grid-title">
                        Name
                    </div>
                </div>
            </div>
            <div class="grid-body">
                <div class="grid-row">
                    <div class="grid-column">
                        <div class="grid-cell">
                            <div class="no-data">
                                <span class="fa fa-spinner fa-pulse" style="color:#5a325a;"></span> Loading...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="paging" style="text-align: right"></div>
    </div>
    <div id="add-tdt" class="tab-pane">
        <div class="grid">
            <form class="formValidate" id="{{formName}}">
                <div class="grid-row add-new-row">
                    <div class="grid-column">
                        <div class="grid-cell">
                            <input type="text" name="name" required class="form-control no-border-radius" placeholder="Enter new name">
                            <span class="flaticon-danger flat-error" style="display:none;"></span>
                            <span class="spinner" style="display:none; margin: 13px 10px 10px 0;">
                                <span class="fa fa-spinner fa-pulse" style="color:#5a325a;"></span>
                            </span>
                            <button type="button" class="btn no-border-radius btn-add-new-row" onclick="addNewRow('{{globalType}}')">
                                <span class="flaticon-plus"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="grid-column">
                        <div class="grid-cell" style="margin-top:0">
                            <textarea type="text" id="textAreaAddNewTestData" name="content" class="form-control no-border-radius" placeholder="Enter default value"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div