<!-- template for Child panel in Configuration screen -->
<!-- use template for Object Repositories, Test Data, Parameters -->
<form name="updateRow">
    <input type="hidden" name="id" value="{{id}}">
    <div class="grid-row add-new-row child-row">
        <div class="grid-column">
            <div class="grid-cell" style="margin-bottom:0">
                <input value="{{name}}" required name="name" type="text" onkeyup="displaySaveButton(this)" class="form-control no-border-radius">
                <div class="cell-fn">
                    <span class="flaticon-danger flat-error" style="display:none;"></span>
                    <span class="spinner" style="display:none; margin: 13px 10px 10px 0;">
                        <span class="fa fa-spinner fa-pulse" style="color:#5a325a;"></span>
                    </span>
                    <button type="button" class="btn no-border-radius viewTestDataContent" onclick="viewTestDataContent(this)" style="border-left:0; background: #fff; margin-top:1px">
                        <span class="flaticon-down-arrow"></span>
                    </button>
                    <button type="button" onclick="updateGlobalData(this,'TestData')" class="btn no-border-radius showHideButton editButton"
                        style="display:none">
                        <span class="flaticon-mark"></span>
                    </button>
                    <button type="button" onclick="cancelUpdateGlobalData(this)" class="btn no-border-radius showHideButton cancelButton" style="display:none">
                        <span class="flaticon-cross-out"></span>
                    </button>
                    <button type="button" class="btn no-border-radius deleteRow" onclick="deleteGlobalData(this,'TestData')">
                        <span class="flaticon-dustbin"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row-test-data-content" style="display:none">
        <textarea id="textarea-test-data-{{id}}" type="text" value="{{content}}" required name="content" onkeyup="displaySaveButton(this)" class="form-control no-border-radius textarea-test-data">{{content}}</textarea>
    </div>
</form>