<div class="input-search-data">
    <input id="{{idElementSearchGlobalData}}" type="text" class="form-control no-border-radius txtSearchGlobal" placeholder="{{placeholder}}">
</div>
<div class="grid">
    <form class="formValidate" id="{{formName}}">
        <div class="grid-row add-new-row">
            <div class="grid-column">
                <div class="grid-cell">
                    <input type="text" name="name" required class="form-control no-border-radius txtInputNewRow" placeholder="Enter new name">
                </div>
            </div>
            <div class="grid-column">
                <div class="grid-cell">
                    <input type="text" name="content" required class="form-control no-border-radius txtInputNewRow" placeholder="Enter default value">
                    <span class="flaticon-danger flat-error" style="display:none;"></span>
                    <span class="spinner" style="display:none; margin: 13px 10px 10px 0;">
                        <span class="fa fa-spinner fa-pulse" style="color:#5a325a;"></span>
                    </span>
                    <button type="button" class="btn no-border-radius btn-add-new-row" onclick="addNewRow('{{globalType}}')">
                        <span class="flaticon-plus"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="grid-row">
        <div class="grid-column">
            <div class="grid-title">
                Name
            </div>
        </div>
        <div class="grid-column">
            <div class="grid-title">
                Default value
            </div>
        </div>
    </div>
    <div class="grid-body">
        <div class="grid-row">
            <div class="grid-column">
                <div class="grid-cell">
                    <div class="no-data">
                        <span class="fa fa-spinner fa-pulse" style="color:#5a325a;"></span> Loading...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="paging" style="text-align: right"></div>