<li class="list-group-item" data-project-id="{{projectId}}" data-jira-id="{{jiraTicketId}}" data-issue-key="{{key}}">
    <span><img style="width: 20px;" src="{{urlIcon}}"></span>
    <span class="issue-key">{{key}}</span>
    <span class="issue-title d-block">{{summary}}</span>
</li>