<li data-scenario-type="{{typeNoBackground}}">
    <a href="javascript:void(0)" class="scenario-name-rendered" data-id="{{id}}" data-index="{{index}}" data-type="{{type}}">
        <div class="handle-sortable"><i class="fas fa-arrows-alt"></i></div>
        <div class="renderName">
            <div class="text-name">{{name}}</div>
            <ul class="tags-scenario">{{{listTags}}}</ul>
        </div>
        <div class="descriptionScenario">{{descriptionScenario}}</div>
        <div class="inputTagsScenario">{{tagsScenario}}</div>
    </a>
    <a href="javascript:void(0)" class="delete-scenario" data-id="{{id}}"><span class="fas fa-trash-alt"></span></a>
</li>