<nav style="display:inline-block;">
    <ul class="pagination" style="margin:0" data-total-page="{{totalPage}}">
        <li class="page-item">
            <a class="page-link no-border-radius" href="javascript:;" data-type="{{globalType}}" onclick="previousPage(this)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        {{{pagings}}}
        <li class="page-item">
            <a class="page-link no-border-radius" href="javascript:;" onclick="nextPage(this)" data-type="{{globalType}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>