<tr>
    <td><div class="name-parameter"><span>{{name}}</span></div></td>
    <td>
        <div class="value-parameter">
            <input type="text" value="{{value}}" data-param-id="{{id}}" class="input-parameter" placeholder="« »">
        </div>
    </td>
    <td>
        <div class="action-parameter" data-param-id="{{id}}">
            <a href="javascript:void(0)" class="delete-param"><span class="fas fa-trash-alt"></span></a>
        </div>
    </td>
</tr>