<li data-step-id={{stepId}} data-order-id={{order}} data-scenario-step-id="{{scenarioStepId}}">
    <div class="step-render">
        <div class="order">   
            <i class="fas fa-arrows-alt"></i>
            <span>{{order}}</span>
        </div>
        <div class="content-step">
            <div class="keyword" data-keyword="{{keyword}}">
                <span class="fas fa-angle-down"></span>
                <select>
                    <option value="Given">Given</option>
                    <option value="When">When</option>
                    <option value="Then">Then</option>
                    <option value="And">And</option>
                    <option value="But">But</option>
                    <option value="*">*</option>
                </select>      
            </div>
            <div class="text-step">
                <input type="text" class="hiddenTextNoParams d-none" value="{{hiddenTextNoParams}}">
                <span class="action-text-step">{{{span}}} <a href="javascript:void(0)" class="redirect-step-detail"><span class="fas fa-reply-all"></span></a></span>             
            </div>
            <div class="argument-params argument-datatable {{isShowDataTable}}">
                <div class="all-data-table" data-param-id="{{argumentIdDataTable}}">
                    <div class="text-argument text-datatable">{{textArgumentDataTable}}</div>
                    <div class="table-background">{{{htmlDataTable}}}</div>
                    <div class="button-create-data-table text-right">
                        <button type="button" class="button-create">Add new data set</button>
                    </div>
                </div>
            </div>
            <div class="argument-params argument-docstring {{isShowDocString}}">
                <div class="text-argument text-docstring">{{textArgumentDocString}}</div>
                <textarea class="value-docstring input-parameter" placeholder="« »" data-param-id="{{argumentIdDocString}}">{{valueArgumentDocString}}</textarea>
            </div>
        </div>
    </div>
    <a href="javascript:void(0)" class="delete-step"><span class="fas fa-trash-alt"></span></a>
</li>