/* add-on styles */

html {
    overflow: hidden;
}


/* html {
  height: 100%;
}

body {
  min-height: 100%;
} */

@media (min-width: 992px) {
    #content {
        min-height: 476px;
    }
}

@media (min-width: 1200px) {
    #content {
        min-height: 768px;
    }
}

.intro-header h1 {
    font-size: 48px;
    line-height: 60px;
    padding-top: 20px;
}

.intro-header p.subtitle {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 20px;
}

.main-panel .aui-page-panel-item {
    padding: 20px 40px 20px 0;
    height: 100px;
}

header {
    margin-bottom: 15px !important;
    border-bottom: 1px solid #ccc;
}

header nav {
    justify-content: initial !important;
    background-color: #f5f5f5 !important;
}

header img {
    max-width: 42px;
}

header h1 {
    display: inline-block;
    font-family: arial;
    color: #696968;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px
}

.table thead th {
    vertical-align: middle !important;
    line-height: 2;
}

.table td,
.table th {
    padding: 7px !important;
}

button {
    cursor: pointer;
}

.ifdModal .modal-header {
    padding: 11px 10px 10px 10px;
    background: #984797;
}

.ifdModal .modal-header .close {
    color: #fff;
}

.ifdModal .modal-header .modal-title {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.error {
    color: #de2c2c;
    font-style: italic;
}

.bootstrap-select {
    width: auto;
}

.bootstrap-select .dropdown-toggle.bs-placeholder {
    color: #4a4a4a !important;
}

.bootstrap-select.show .dropdown-menu.open.show {
    padding: 0 !important;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.36);
}

.bootstrap-select.show .dropdown-menu.open.show .dropdown-menu.inner {
    display: block;
    margin: 0;
}

.bootstrap-select.show .dropdown-menu.open.show .dropdown-menu.inner li {
    padding: 5px 7px;
    /* border-bottom: 1px solid #dedede; */
}

.bootstrap-select.show .dropdown-menu.open.show .dropdown-menu.inner li.divider {
    border-bottom: 1px solid #ddd !important;
    padding: 0;
    margin: 5px 0;
}

.bootstrap-select.show .dropdown-menu.open.show .dropdown-menu.inner li:hover:not(.divider) {
    background: #ddd;
}

.bootstrap-select.show .dropdown-menu.open.show .dropdown-menu.inner li a {
    padding-left: 15px !important;
    display: block;
    outline: none !important;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.breadcrumb {
    border-radius: 0 !important;
}

.btn {
    box-sizing: border-box;
}

#floatingBarsG {
    position: relative;
    width: 15px;
    height: 19px;
    margin: auto;
}

.blockG {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 2px;
    height: 6px;
    border-radius: 2px 2px 0 0;
    -o-border-radius: 2px 2px 0 0;
    -ms-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    transform: scale(0.4);
    -o-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    animation-name: fadeG;
    -o-animation-name: fadeG;
    -ms-animation-name: fadeG;
    -webkit-animation-name: fadeG;
    -moz-animation-name: fadeG;
    animation-duration: 1.2s;
    -o-animation-duration: 1.2s;
    -ms-animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;
    -moz-animation-duration: 1.2s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

#rotateG_01 {
    left: 0;
    top: 7px;
    animation-delay: 0.45s;
    -o-animation-delay: 0.45s;
    -ms-animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
    -moz-animation-delay: 0.45s;
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

#rotateG_02 {
    left: 2px;
    top: 2px;
    animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

#rotateG_03 {
    left: 6px;
    top: 1px;
    animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -moz-animation-delay: 0.75s;
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

#rotateG_04 {
    right: 2px;
    top: 2px;
    animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

#rotateG_05 {
    right: 0;
    top: 7px;
    animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -moz-animation-delay: 1.05s;
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

#rotateG_06 {
    right: 2px;
    bottom: 2px;
    animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
}

#rotateG_07 {
    bottom: 0;
    left: 6px;
    animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -moz-animation-delay: 1.35s;
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

#rotateG_08 {
    left: 2px;
    bottom: 2px;
    animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
}

@keyframes fadeG {
    0% {
        background-color: rgb(152, 71, 151);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-o-keyframes fadeG {
    0% {
        background-color: rgb(152, 71, 151);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-ms-keyframes fadeG {
    0% {
        background-color: rgb(152, 71, 151);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-webkit-keyframes fadeG {
    0% {
        background-color: rgb(152, 71, 151);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-moz-keyframes fadeG {
    0% {
        background-color: rgb(152, 71, 151);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}

.comming-soon {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-height: 476px;
}

.comming-soon h2 {
    color: #676767;
    margin: 40px 0 20px 0px;
    /* text-shadow: 1px 1px 1px rgba(152, 71, 151, 0.64); */
    font-weight: 600;
}

.comming-soon img {
    width: 515px;
}

#body-spiner {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

#body-spiner #floatingBarsG {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: scale(1.5);
}

.collapse.in {
    display: block;
}

.badge.badge-warning {
    color: #fff !important;
}

.no-border-radius {
    border-radius: 0 !important;
}

.ui-autocomplete {
    background-color: #fff;
    list-style: none;
    border: 1px solid #d9d9d9;
    border-top: 0;
}

.ui-autocomplete li {}