article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block
}


.aui-group>.aui-item>h1:first-child,
.aui-group>.aui-item>h2:first-child,
.aui-group>.aui-item>h3:first-child,
.aui-group>.aui-item>h4:first-child,
.aui-group>.aui-item>h5:first-child,
.aui-group>.aui-item>h6:first-child {
    margin-top: 20px
}

.aui-group:first-child>.aui-item>h1:first-child,
.aui-group:first-child>.aui-item>h2:first-child,
.aui-group:first-child>.aui-item>h3:first-child,
.aui-group:first-child>.aui-item>h4:first-child,
.aui-group:first-child>.aui-item>h5:first-child,
.aui-group:first-child>.aui-item>h6:first-child {
    margin-top: 0
}

.aui-dialog2-content {
    height: -webkit-calc(100% - 107px);
    height: calc(100% - 107px)
}

[class~=statusToDoColor] {
    background: #676766 !important;
}
[class~=statusInProgressColor] {
    background: blue !important;
}
[class~=statusDoneColor] {
    background: rgb(0, 102, 68) !important;
}
.w_add_defect_main{
    height: auto !important;
}