legend.group-border {
    width: inherit;
    padding: 0 10px;
    border-bottom: none;
    font-size: 17px;
    font-weight: 700;
    color: #676766;
}

fieldset.group-border {
    border: 1px solid #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    border-radius: 4px;
}

.oi[data-glyph="plus"]:empty:before {
    vertical-align: -3px;
}

.spinner {
    display: inline-block !important;
    vertical-align: middle;
    margin-left: 7px !important;
    transform: scale(0.8);
}

.btn {
    max-height: 35px;
}

.confirmation-execution {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 0;
    z-index: 8;
}
