
.aui-page-panel-content {
    margin-top: 0;
}
.btn-block+.btn-block {
	margin-top: 0;
}
.full-width .modal-dialog{
    max-width: 100%;
    margin: 0;
    max-width: 100%;
    height: 100%;
}
.full-width .modal-dialog .modal-content {
    height: 100%;
}
.full-width .modal-dialog .modal-content .modal-body {
    overflow: auto !important;
}
.display-none {
    display: none;
}
.debug_btn {
	margin-bottom: 10px;
	width: auto;
    border: 0;
    box-shadow: none;
    font-size: 13px;
    padding: 2px 4px;
    margin: 0;
    margin-right: 5px;
    float: left;
}
#txt-show-log {
	padding: 20px;
}
.group-border .row button:last-child {
	margin-right: 0;
	padding-top: 4px;
	padding-bottom: 0;
}

#content {
    min-height: 0 !important;
}

body {
    overflow: hidden;
}

.modal-testcase-execution .modal-header{
    padding: 5px 10px;
}

.modal-testcase-execution .modal-header .modal-title{
    font-size: 12px;
}

.modal-testcase-execution .modal-body{
    border-radius: 0 0 4px 4px;
    padding: 5px 5px;
}

.modal-testcase-execution .check-input{
    width: 20%;
    padding: 5px 5px;
    display: inline-block;
}

.modal-testcase-execution .option-wait-time{
    width: 25%;
    padding: 5px 5px;
    display: inline-block;
}

.modal-testcase-execution .option-print-logs{
    width: 30%;
    padding: 5px 5px;
    display: inline-block;
}

.modal-testcase-execution .modal-footer{
    justify-content: left;
    padding: 5px 10px;
}

.modal-testcase-execution .modal-footer button{
    padding: 5px 10px;
    font-size: 12px;
}

.modal-testcase-execution .modal-content{
    border: 0;
    border-radius: 0;
}

.modal-testcase-execution .modal-dialog{
    margin: 10px auto;
}

