legend.group-border {
    width: inherit;
    padding: 0 10px;
    border-bottom: none;
    font-size: 17px;
    font-weight: 700;
    color: #676766;
}

fieldset.group-border {
    border: 1px solid #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    border-radius: 4px;
}

.oi[data-glyph="plus"]:empty:before {
    vertical-align: -3px;
}

.spinner {
    display: inline-block !important;
    vertical-align: middle;
    margin-left: 7px !important;
    transform: scale(0.8);
}

.btn {
    max-height: 35px;
}

.confirmation-execution {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 0;
    z-index: 8;
}

.scenario {
    height: calc(100% - 1.5em);
}

.scenario .CodeMirror {
    height: calc(100% - 31px) !important;
    border-radius: 4px;
    background: #fff !important;
}

.modal-testcase-execution .modal-header{
    padding: 5px 10px;
}

.modal-testcase-execution .modal-header .modal-title{
    font-size: 13px;
}

.modal-testcase-execution .modal-body{
    border-radius: 0 0 4px 4px;
    padding: 5px 5px;
}

.modal-testcase-execution .check-input{
    width: 20%;
    padding: 5px 5px;
    display: inline-block;
}

.modal-testcase-execution .option-wait-time{
    width: 25%;
    padding: 5px 5px;
    display: inline-block;
}

.modal-testcase-execution .option-print-logs{
    width: 30%;
    padding: 5px 5px;
    display: inline-block;
}

.modal-testcase-execution .modal-footer{
    justify-content: left;
    padding: 10px 10px;
}

.modal-testcase-execution .modal-footer button{
    padding: 5px 10px;
    font-size: 13px;
}

.modal-testcase-execution .modal-content{
    border: 0;
    border-radius: 0;
}

.modal-testcase-execution .modal-dialog{
    margin: 150px auto;
    max-width: 500px;
}

.top-report{
    position: relative;
    padding-right: 45px;
}

.top-report button{
    position: absolute;
    top: 0;
    right: 0;
}

.left-chart, .center-chart, .right-chart{
    display: inline-block;
    vertical-align: middle
}

.left-chart{
    width: 35%;
}

.center-chart{
    width: 25%;
}

.right-chart{
    width: 35%;
    padding-left: 20px;
}

.center-chart ul{
    padding-left: 0;
    margin-bottom: 0;
}

.center-chart ul:after{
    content: '';
    display: table;
    clear: both;
}

.center-chart ul li{
    display: block;
    float: left;
    width: 50%;
    padding: 5px;
    text-align: center;
}

.center-chart ul li p{
    margin-bottom: 0;
}

.center-chart .number-count{
    position: relative;
    padding-bottom: 5px;
}

.center-chart .fails_count{
    border-bottom: 5px solid #F7464A;
}
.center-chart .success_count{
    border-bottom: 5px solid #46BFBD;
}
.center-chart .errors_count{
    border-bottom: 5px solid #FDB45C;
}
.center-chart .skips_count{
    border-bottom: 5px solid #949FB1;
}

.detail-chart table{
    width: 100%;
}

.detail-chart table td{
    border: 1px solid #ddd;
    padding: 5px;
}

.detail-chart{
    padding: 20px 0;
    overflow: auto;
    max-height: 300px;
    margin-top: 10px;
}

.detail-chart p{
    margin-bottom: 5px;
}

.modal-dialog{
    margin: 100px auto;
    max-width: 1000px;
}

.button-debug button{
    max-height: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.spinner{
    display: block!important;
    margin: 0 auto!important;
}

.defects .remove-ticket,
.defects .ticket {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    padding: 3px 5px;
    background: #984797;
    color: #fff !important;
    text-decoration: none;
}

.defects {
    white-space: nowrap;
    display: inline-block;
}

.defects .remove-ticket:hover,
.defects .ticket:hover {
    background: #6d276c;
}

.defects .remove-ticket {
    border-left: 1px solid #929292;
    border-radius: 0 4px 4px 0;
    font-size: 75%;
    line-height: 1;
    background: #676766;
}

.defects .remove-ticket .fa-times {
    line-height: 1;
    font-weight: 100;
    margin-top: -1px;
}

.defects .ticket {
    border-right: 1px solid #676766;
    border-radius: 4px 0 0 4px;
    font-size: 75%;
    background: #676766;
}

.w_add_defect_main .form-control{
    padding-right: 50px;
}

.position-relative{
    position: relative;
}

.w_add_defect_main #addNewIssue{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-top-right-radius: .25rem;
    border: 0;
    background: #000;
    padding: 10px 15px;
    border-bottom-right-radius: .25rem;
}
.w_add_defect_main #addNewIssue:hover{
    opacity: 0.7;
}

.w_add_defect_main #addNewIssue span{
    color: #fff;
    font-size: 16px;
}

.w_add_defect_main .list-inline {
    margin: 0 !important;
    display: flow-root;
}

.w_add_defect_main .search-issue .form-control {
    /* box-sizing: border-box; */
    padding: 0;
    background: transparent;
    border: 0;
    /* height: 17px; */
}

.w_add_defect_main .list-inline-item {
    margin-right: 3px;
    margin-bottom: 2px;
    /* float: left; */
}

.w_add_defect_main .list-inline-item .defects {
    display: flex;
}

#searchMainDefect {
    overflow: hidden;
    padding: 0;
    border: 0;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    visibility: hidden;
    z-index: -1;
    height: 0;
}

label .spinner {
    display: inline-block !important;
    vertical-align: middle;
    margin-left: 7px !important;
    transform: scale(0.8);
}