.button-action-all{
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

.button-action-all button{
    background-color: transparent;
    border: 0;
}

.button-switch-version{
    text-align: right;
}

.button-switch-version .fa, .button-switch-version .fas{
    cursor: pointer;
    color:#984797;
}

.screen-raw-version-all .CodeMirror{
    height: 700px;
}

.top-link{
    font-size: 20px;
}

#linkOpenedScenarioDetail{
    display: inline-block;
}

.feature-name{
    display: inline-block;
}

.feature-name.can-edit{
    border-bottom: 2px dashed transparent;
}

.feature-name.can-edit:hover, .feature-name.editing{
    border-bottom: 2px dashed #ccc;
    display: block;
    text-decoration: none;
}

.feature-name input{
    border: 0;
    width: 100%;
    background-color: transparent;
}

.data-collapse{
    background-color: #fff;
}

.data-collapse .collapse-header a{
    padding: 20px 15px;
    color: #212529;
    font-weight: bold;
    position: relative;
    display: block;
    margin-bottom: 0;
    border: 1px solid rgba(0,0,0,.15);
}

.data-collapse .collapse-header a:hover{
    text-decoration: none;
}

.data-collapse .collapse-header a span{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.data-collapse .collapse-header a.collapsed .fa-angle-up{
    display: none;
}

.data-collapse .collapse-header a.collapsed .fa-angle-down{
    display: block;
}

.data-collapse .collapse-header a .fa-angle-down{
    display: none;
}

.data-collapse .collapse-header a .fa-angle-up{
    display: block;
}

.steps-scenario-text{
    cursor: text;
    font-weight: bold;
}

.steps-scenario{
    background-color: #fff;
}
.top-steps-scenario{
    border: 1px solid rgba(0,0,0,.15);
    padding: 15px;
}

.show-tags-scenario{
    padding: 5px 15px;
    border-left: 1px solid rgba(0,0,0,.15);
    border-right: 1px solid rgba(0,0,0,.15);
    font-size: 12px;
}

.show-tags-scenari a{
    color: #808080;
}

.show-tags-scenari a:hover{
    color: #000;
    text-decoration: none;
}

.content-automation-testcase{
    background-color: #f5f5f5;
}

.center-panel-block{
    position: relative;
    max-height: 500px;
    min-height: 100px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    overflow: auto;
}

.bottom-panel-block{
    padding: 15px;
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
    border-top: 0;
}

.text-description textarea{
    border: 2px dashed transparent;
    padding: 0;
    resize: none;
    background-color: transparent;
}

.text-description .no-description{
    border-bottom: 2px dashed #ccc;
}

.text-description textarea:focus, .text-description textarea:hover{
    background-color: transparent;
    border-color: transparent;
    border-bottom: 2px dashed #ccc;
}

ul{
    padding: 0;
    margin: 0;
}

button{
    border: 0;
    background: none;
}

button:focus{
    outline: none;
}

.button-create{
    border: 1px solid rgba(0,0,0,.15);
    background: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.total-scenario{
    font-weight: bold;
    padding-top: 5px;
}

.button-create:hover, .button-create:focus{
    background: rgba(0,0,0,.15);
}

.screen-create-show-scenario{
    background-color: #fff;
}

.top-create{
    border: 1px solid rgba(0,0,0,.15);
    padding: 15px;
}

#listScenarios >li{
    display: block;
    position: relative;
}

#listScenarios > li[data-scenario-type="noScenario"]{
    visibility: hidden;
    display: none;
}

.descriptionScenario{
    display: none;
}

#listScenarios >li a{
    display: block;
    border-bottom: 1px solid  rgba(0,0,0,.15);
    padding: 8px 25px 8px 15px;
    position: relative;
    color: #3a6994;
}

#listScenarios li a .handle-sortable{
    display: inline-block;
    padding-right: 10px;
    width: 5%;
    vertical-align: middle;
    color: #333;
}

#listScenarios .tags-scenario{
    display: none;
}

#listScenarios .tags-scenario li{
    display: inline-block;
    padding: 2px 15px;    
    font-size: 13px;    
    background-color: #ccc;    
    border-radius: 30px;    
    color: #333;    
    margin-right: 5px;
}

#listScenarios li a .renderName{
    display: inline-block;
    width: 80%;
    vertical-align: middle;
}

#listScenarios li .delete-scenario{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    opacity: 0;
    color: #212529;
}

#listScenarios > li a:hover{
    text-decoration: none;
    color: #00D6D6;
}

#listScenarios li:hover .delete-scenario{
    opacity: 1;
}

.text-no-step{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
    color: #ccc;
}

.no-data-table{
    padding: 15px;
    border: 1px solid rgba(0,0,0,.15);
}

.button-create-data-table{
    border: 1px solid rgba(0,0,0,.15);
    border-top: 0;
    padding: 10px 15px;
}

.table-background{
    overflow: auto;
    border: 1px solid rgba(0,0,0,.15);
    min-height: 100px;
    max-height: 300px;
}

table{
    width: 100%;
}

table tr{
    border-bottom: 1px solid rgba(0,0,0,.15);
}

table th, table td{
    position: relative;
    padding: 15px 20px;
    border-right: 1px solid rgba(0,0,0,.15);
}

table .render-text{
    border: 1px solid transparent;
    margin: 0;
    padding: 10px;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

table .render-text:focus{
    border: 1px solid #00D6D6;
}

.fixed-last-column{
    text-align: right;
}

.delete-table-column {
    position: absolute;
    right: 5px;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.datatable-cell-content:hover .delete-table-column{
    opacity: 1;
}

.all-steps, .all-data-table {
    position: relative;
}

.all-steps .saving-data, .all-data-table .saving-data{
    position: absolute;
    top: -20px;
    left: 15px;
    color: #808080;
}

.list-steps li{
    position: relative;
    display: block;
}

.list-steps li .form-control{
    border-color: transparent;
}

.list-steps li:hover .delete-step{
    opacity: 1;
}

.list-steps li .delete-step{
    position: absolute;
    top: 50%;
    right: 15px;
    color: #212529;
    transform: translateY(-50%);
    opacity: 0;
}

.step-render{
    border-bottom: 1px solid rgba(0,0,0,.15);
    padding: 15px;
}

.step-render .order, .step-render .content-step{
    display: inline-block;
    vertical-align: middle;
}

.step-render .order .fas{
    margin-right: 10px;
}

.step-render .content-step{
    width: 85%;
}

.step-render .keyword{
    width: 90px;
    padding: 0 10px;
    color: #ac4142;
    position: relative;
    display: inline-flex;
}

.step-render .keyword .fas{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.step-render .keyword select{
    display: block;
    color: #ac4142;
    border: 1px solid transparent;
    width: 100%;
    outline: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.step-render .keyword:hover .fas{
    opacity: 1;
}

.step-render .keyword:hover select{
    border: 1px solid rgba(0,0,0,.15);
}

.step-render .text-step{
    display: inline-flex;
    position: relative;
}

.step-render .text-step .redirect-step-detail{
    margin-left: 5px;
    display: none;
}

.step-render .text-step:hover .redirect-step-detail{
    display: inline-block;
}

.step-render .text-step .action-text-step{
    color: #3a6994;
}

.step-render .text-step .action-text-step:hover{
    color: #00D6D6;
}

.step-render .text-step .input-parameter{
    border: 0;
    color: #808080;
    max-width: 270px;
}

.step-render .text-step .input-parameter[readonly]{
    background-color: #FFF !important;
    cursor: default;
}

.step-render .text-step .input-parameter:focus{
    color: #000;
}

.step-render .argument-params.show{
    display: block;
}

.step-render .argument-params{
    color: #808080;
    padding: 0 15px;
    display: none;
}

.step-render .argument-params .text-argument{
    padding: 10px 0;
}

.step-render .argument-params textarea{
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
    padding: 15px 10px;
    color: #808080;
}

.step-render .argument-params textarea:focus{
    border: 1px solid #00D6D6;
    color: #000;
}

.button-switch-version button, .button-switch-version .tooltip-guides{
    display: inline-block;
    vertical-align: middle;
}
.guide-panel{
    border-left: 1px solid rgba(0,0,0,.15);
    border-right: 1px solid rgba(0,0,0,.15);
}

.CodeMirror-sizer{
    margin-left: 30px!important;
}

.CodeMirror-gutter-wrapper{
    left: -30px!important;
}

.tooltip-guides{
    font-size: 16px;
}

.tooltip{
    margin-top: 10px;
    font-size: 12px;
}

textarea{
    min-height: 35px;
}

#button-action-top .placeholder-section__feature{
    margin: 30px 0 30px 0;
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    color: #CCCCCC;
    font-weight: bold;
}

#rawBackground{
    border: 1px solid rgba(0,0,0,.15);
}

.inputTagsScenario{
    display: none;
}

#outputScenarioName{
    border: 0;
    border-bottom: 2px dashed #ccc;
    padding: 10px 0;
    background-color: transparent;
}

#outputScenarioName:focus{
    border-color: transparent;
    border-bottom: 2px dashed #3a6994;
}

.tags-feature li{
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
}

.tags-feature li .tag-name{
    padding: 5px 35px 5px 20px;
    background: #ccc;
    border-radius: 20px;
    display: block;
}

.tags-feature li .tag-name input{
    border: 0;
    border-bottom: 1px dashed #000;
    background: none;
}

.tags-feature li .tag-name.edit-input .fa{
    display: none;
}

.tags-feature li:hover .tag-name{
    background-color: #e5e5e5;
}

.tags-feature li .fa{
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}
 
#form-import .form-group input{ 
    width: 100%; 
    border: 1px solid #ceb3b3; 
    padding: 5px 10px; 
} 
 
#form-import .form-group input.error{ 
    border: 1px solid #ed1c24; 
} 
 
input[readonly]{ 
    background-color: rgb(235, 235, 228); 
    cursor: pointer; 
} 
 
.tags-feature li .tag-name{
    padding: 5px 35px 5px 20px;
    background: #ccc;
    border-radius: 20px;
    display: block;
}

.tags-feature li .tag-name input{
    border: 0;
    border-bottom: 1px dashed #000;
    background: none;
}

.tags-feature li .tag-name.edit-input .fa{
    display: none;
}

.tags-feature li:hover .tag-name{
    background-color: #e5e5e5;
}

.tags-feature li .fa{
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

#modalImportSuccess .modal-dialog{ 
    max-width: 500px; 
}
 
.jirasite{ 
    display: none;
}

.tab-wrapper-feature{
    width: 700px;
    margin: 0 auto;
}

#rawDefinition{
    border-bottom: 1px solid rgba(0,0,0,.15);
    border-right: 1px solid rgba(0,0,0,.15);
}

.content-main-tab{
    display: none;
} 

.content-main-tab.active{
    display: block;
}

fieldset.group-border.jira-group{
    width: 70%;
    margin: 0 auto;
}

.btn-import-objrepo{
    position: absolute;
    top: -45px;
    right: 40%;
    margin-right: 10px;
    padding: 5px 10px;
}

.fas{
    vertical-align: middle;
}
[class~=statusToDoColor] {
    background: #676766 !important;
}
[class~=statusInProgressColor] {
    background: blue !important;
}
[class~=statusDoneColor] {
    background: rgb(0, 102, 68) !important;
}

/* Custom popover */
.custom-popover{
    font-weight: 400;
    line-height: 20px;
    color: #3a6994 !important;
    letter-spacing: normal;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.custom-popover:hover{
    color: #00d6d6 !important;
}

.custom-popover i{
    margin-right: 5px;
    font-size: 14px;
}

.custom-popover span{
    vertical-align: middle;
}

.mt-10{
    margin-top: 10px;
}