@media (min-width: 992px) {
  #content {
    min-height: 0;
  }
}

@media (min-width: 1200px) {
  #content {
    min-height: 0;
  }
}
.grid .grid-row.add-new-row .grid-cell {
  border-bottom: 0 !important;
}

.grid .grid-row.add-new-row .grid-cell p {
  padding: 12px 16px 10px;
  margin: 0
}

.input-search-data{
    position: absolute;
    top: -35px;
    left: 47%;
    width: 40%;
}
.container-tab-content{
    position: relative;
}
.input-search-data .form-control{
    padding: 5px 10px;
}

#config-panel #container-tab-content{
    position: relative;
}