.card.custom {
    border: 0;
}

.card.custom .card-title {
    height: 50px;
    color: #636363;
    font-size: 14px;
    background: #f5f5f5;
    margin: 0;
    padding: 0 15px;
    font-weight: 700;
    line-height: 49px;
    border: 1px solid #e7e7e7;
}

.card-bd-custom {
    padding: 0;
}

.card-footer.add-steps {
    padding: 0;
    display: flex;
    padding: 0;
    display: flex;
    border: 0;
}

.card-footer.add-steps input[type="text"].form-control {
    height: 40px;
    border-color: #e7e7e7;
    border-bottom-color: transparent;
}

.btn-search-row, .btn-add-new-row, #addStep {
    background-color: #e7e7e7;
    width: 50px;
    color: #a1a1a1;
    box-shadow: none !important;
}

.btn-search-row:hover, .btn-add-new-row:hover, #addStep:hover {
    background-color: #dfdfdf;
}

.btn-search-row .flaticon-magnifying-glass, .btn-add-new-row .flaticon-plus, #addStep .flaticon-plus {
    font-size: 18px;
}

#config-panel #container-tab-content {
    flex: 1;
    border: 1px solid #e7e7e7;
    padding: 10px 15px 17px;
    min-height: 250px;
    border-top: 0;
}

.tab-title {
    background: #f5f5f5;
    border: 1px solid #e7e7e7;
    position: relative;
}

.tabs-custom {
    border: 0;
}

.tabs-custom .nav-item {
    margin: 0 !important;
}

.tabs-custom a {
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
    border: 0 !important;
    color: #636363;
    margin-bottom: -1px;
}

h4.title-of-tab {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #636363;
    line-height: 1.3;
    margin-bottom: 15px;
    margin-top: 10px;
}

.grid {
    border: 1px solid #e7e7e7;
}

.grid .grid-row {
    display: flex;
}

.grid .grid-row .grid-column {
    flex: 4;
}

.grid .grid-row .grid-column+.grid-column {
    flex: 6;
}

.grid .grid-title {
    background: #f5f5f5;
    border-top: 1px solid #e7e7e7;
    padding: 10px 15px;
    line-height: 1em;
    color: #636363;
    font-weight: 600;
}

.grid .grid-column+.grid-column {
    border-left: 1px solid #e7e7e7;
}

.grid .grid-cell {
    display: flex;
    margin: 0 -1px;
    position: relative;
}

.grid .grid-cell:hover .button-coppy-text{
    opacity: 1;
}

.grid .grid-cell .button-coppy-text{
    position: absolute;
    top: 50%;
    right: 15px;
    border: 0;
    background: none;
    transform: translateY(-50%);
    opacity: 0;
}

#test-data-content .grid .grid-cell .button-coppy-text, #steps-definition-content .grid .grid-cell .button-coppy-text{
    right: 50px;
}

.add-new-row input[type="text"] {
    border-color: transparent;
    height: 46px;
}

input[type="text"].error {
    border-color: #ffa2a2;
}

.grid-cell .no-data {
    height: 40px;
    padding: 0 15px;
    color: #000;
    line-height: 40px;
}

.cell-fn {
    display: flex;
}

.cell-fn .btn {
    width: 40px;
    padding: 0;
    border-left: 1px solid #e7e7e7;
    background-color: #f5f5f5;
    color: #636363;
}

.cell-fn .btn:focus {
    box-shadow: none !important;
}

.cell-fn .btn:hover {
    background-color: #dfdfdf;
}

.card-row-steps-definition {
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.card-row-steps-definition .no-data {
    width: 100%;
    padding: 12px 15px 10px;
    border: 1px solid #e7e7e7;
    margin-top: -1px;
}

.card-row-steps-definition .type-data {
    position: absolute;
    top: 0;
    left: 44px;
    height: 46px;
    width: 40px;
    font-size: 21px;
    text-align: center;
    line-height: 47px;
}

.card-row-steps-definition .order-row{
    display: inline-block;
    width: 5%;
    vertical-align: middle;
    text-align: center;
}

.card-row-steps-definition .form-control{
    display: inline-block;
    width: 90%;
    vertical-align: middle;
    border-color: transparent;
}

.card-row-steps-definition .remove-row{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    opacity: 0;
}

.card-row-steps-definition:hover .remove-row{
    opacity: 1;
}

.remove-row .btn{
    background: none;
    color: #636363;
}

#frmSettings .grid-title {
    display: flex;
}

.flat-error {
    font-size: 17px;
    color: #f00;
    margin-right: 11px;
    margin: 10px 10px 10px;
}

.paging {
    margin-top: 15px;
}

.page-link {
    color: #636363;
}

.page-item.isactive .page-link {
    z-index: 2;
    color: #fff;
    background-color: #757575;
    border-color: #757575;
}

#nameStepsDefinition {
    border-color: #e7e7e7;
    margin-bottom: 5px;
}

.row-version {
    border: 1px solid #e7e7e7;
}

.container-save-editor-button {
    text-align: right;
}

.container-save-editor-button .btn {
    background-color: #e7e7e7;
}

.container-save-editor-button .btn:hover {
    background-color: #dfdfdf;
}

.row-test-data-content .CodeMirror {
    border: 1px solid #e7e7e7;
    max-height: 150px;
    min-height: 100px;
}

.CodeMirror pre {
    font-size: 13px !important;
}

.display_TestData_none {
    display: none;
}

#test-data-content .nav-tabs {
    margin-bottom: 16px;
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
}

#test-data-content .nav-tabs .nav-link {
    color: #636363 !important;
}

.CodeMirror {
    width: 100%;
}

.viewTestDataContent .flaticon-down-arrow {
    transition: all 0.2s 0.2s ease;
    display: inline-block;
}

.viewTestDataContent.active .flaticon-down-arrow {
    transform: rotate(180deg);
}

#modalConfirmDelete .modal-dialog{
    margin: 150px auto;
}

#deleteStepsDefinition{
    border: 0;
    background: none;
}

#row-version{
    position: relative;
}

#tooltip-guide{
    position: absolute;
    top: -20px;
    right: 5px;
    font-size: 16px;
}

.tooltip{
    font-size: 12px;
}

.CodeMirror-sizer{
    margin-left: 30px!important;
}
.CodeMirror-gutters{
    left: 0!important;
}

.CodeMirror-linenumbers{
    width: 29px!important;
}