td.details-control {
    background: url('../images/details_open.svg') no-repeat center center;
    cursor: pointer;
    background-size: 20px;
    min-width: 10px;
    width: 37px;
    box-sizing: border-box !important;
}

tr.shown td.details-control {
    background: url('../images/details_close.svg') no-repeat center center;
    background-size: 20px;
    min-width: 10px;
}

tr.shown td {
    background-color: #8c988d !important;
    color: #fff;
}

td.status_inprogress {
    background-color: yellow;
}

td.status_done {
    background-color: green;
}

.header-panel {
    margin-bottom: 10px;
}

th {
    font-weight: 400;
}

#content {
    padding-bottom: 15px;
}

.header-panel h2 {
    font-size: 20px;
    color: #676766;
    text-transform: uppercase;
}

header .nav-item .nav-link .oi[data-glyph]:before,
.btn .oi[data-glyph=plus]:before {
    vertical-align: -2px;
}

header .nav-item .nav-link .oi[data-glyph]:before {
    margin-right: 3px;
}

header .nav-item .nav-link .oi[data-glyph="loop-circular"]:before {
    font-size: 17px;
    vertical-align: -4px;
}

.table td {
    vertical-align: middle;
}


/* .table tr.shown+tr>td {
    padding: 0 !important;
} */

.table-nested {
    padding: 0 !important;
}

.table-nested th {
    white-space: nowrap;
}


/* .table-nested thead th {
    background: #fff !important;
    font-weight: 600;
} */

.table-nested td {
    background: #fff !important;
    border-color: #c2cac3;
}

#sprint-table .dt-bootstrap4 {
    padding: 0 !important;
    margin-left: 30px;
    box-sizing: border-box;
    width: auto;
    border: 0;
}

#sprint-table .dt-bootstrap4 .row {
    margin: 0 !important;
}

#sprint-table .dt-bootstrap4 .row .col-sm-12 {
    padding: 0 !important;
}

#sprint-table .dt-bootstrap4 .row .col-sm-12 table {
    padding: 0 !important;
    margin: 0 !important;
    border-top: 0 !important;
    border-color: #c2cac3;
}

#sprint-table td.details-control.loading {
    background: transparent !important;
}

.input-daterange {
    width: auto !important;
}

.input-daterange input {
    border-radius: 3px !important;
}

.datetime {
    background-image: url('../images/calendar.png');
    background-repeat: no-repeat;
    text-align: left !important;
    background-position: center right 10px;
}

.cycle-actions {
    text-align: right;
}

.cycle-actions .dropdown .btn .oi:before {
    vertical-align: -3px;
}

.cycle-actions .dropdown .btn::after {
    display: none;
}

.cycle-actions .dropdown-item:hover {
    background: #7d107c;
    color: #fff;
}

.cycle-actions .dropdown-menu.show {
    overflow: hidden;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.47);
}

.cycle-actions .btn-secondary {
    background-color: #afafae;
    border-color: #afafae;
}

.cycle-actions .btn-secondary:hover {
    background-color: #676766;
    border-color: #676766;
}

#selected-issues .badge {
    margin-top: 10px;
}

.selected-tag.badge {
    vertical-align: middle;
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.49);
    border: 1px solid #921490;
    margin-right: 5px;
}

.selected-tag.badge a {
    padding: 2px 2px;
    color: #fff;
    display: inline-block;
    margin-left: 4px;
    /* font-size: 19px; */
    vertical-align: -2px;
    text-decoration: none !important;
    font-weight: normal;
}

.selected-tag.badge a:hover {
    color: #750e74;
}

.table-custom-green th {
    border-color: #b1b1b1 !important;
    color: #434643;
}

#dialog-delete-button .spinner,
#dialog-submit-button .spinner,
#dialog-delete-cycleIssue-button .spinner,
#dialog-issue-button .spinner {
    display: inline-block;
    vertical-align: middle;
    margin-left: 9px;
    margin-top: -3px;
}

tr.table-custom-green th:first-child {
    min-width: 28px;
}

.table-nested a {
    white-space: nowrap;
}

.w-report {
    display: flex;
    width: 100%;
    border-radius: 4px;
    background: #fafafa;
    border: 1px solid #ddd;
    overflow: hidden;
}

.w-report>span {
    height: 10px;
    display: block;
}

.w-report>span.unxecuted {
    background: #808080;
}

.w-report>span.pass {
    background: #28a745;
}

.w-report>span.fail {
    background: #dc3545;
}

.w-report>span.wip {
    background: #17a2b8;
}

.w-report>span.blocked {
    background: #ffc107;
}

.tooltip.show {
    opacity: 1 !important;
}

.tooltip-inner {
    background-color: #dadada !important;
    color: #000000 !important;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before,
.tooltip.bs-tooltip-top .arrow::before {
    border-top-color: #dadada;
}

#sprint-table_wrapper .tooltip .tooltip-inner {
    padding: 0 !important;
    min-width: 130px;
}

#sprint-table_wrapper .tooltip .tooltip-inner table {
    border: 1px solid #e9ecef;
    width: 100%;
    box-shadow: 1px -1px 2px #dedede;
}

#sprint-table_wrapper .tooltip .tooltip-inner table td {
    vertical-align: middle;
    text-align: left;
    padding: 5px 7px;
    background: #fff;
}

#sprint-table_wrapper .tooltip .tooltip-inner table tbody tr:nth-child(3)>td {
    color: #ffc107;
}

#sprint-table_wrapper .tooltip .tooltip-inner table tbody tr:nth-child(4)>td {
    color: #17a2b8;
}
#sprint-table_wrapper .tooltip .tooltip-inner table tbody tr:nth-child(5)>td {
    color: #dc3545;
}
#sprint-table_wrapper .tooltip .tooltip-inner table tbody tr:nth-child(6)>td {
    color: #28a745;
}