body {
    overflow: hidden;
    margin: 0 !important;
}

#add_assignee::after {
    display: none;
}

#add_assignee .oi {
    line-height: 1;
    vertical-align: -2px;
}

.dialog-header {
    padding: 11px 10px 10px 10px;
    background: #984797;
    border-bottom: 1px solid #e9ecef;
    justify-content: space-between;
    align-items: center;
    display: flex
}

.dialog-header .dialog-title {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}

#add-test-cycle .spinner {
    display: inline-block;
    vertical-align: middle;
    margin-left: 9px;
    margin-top: -3px;
}

.btn-primary:disabled {
    cursor: not-allowed;
}