@keyframes mymove {
    from {background-position-x: 0%;}
    to {background-position-x: 100%;}
}

header{
    position: relative;
}

header .back-to-dashboard{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: cornflowerblue;
}

#body-loading-bar{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

#body-loading-bar .progress-bar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
}

#body-loading-bar .progress-bar-striped{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .3s;
    background-repeat: repeat;
    animation: mymove linear 20s infinite;
}

#body-loading-bar .text-importing{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    text-transform: uppercase;
}

.importer-panel .tab-pane{
    padding: 15px;
}

.importer-panel fieldset.group-border, .modal fieldset.group-border{
    border: 1px solid #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    border-radius: 4px;
}

.importer-panel fieldset legend, .modal fieldset legend{
    width: inherit;
    padding: 0 10px;
    border-bottom: none;
    font-size: 17px;
    font-weight: 700;
    color: #676766;
}

.importer-panel .form-group{
    margin-top: 1rem;
}

.importer-panel .form-group input{
    width: 100%;
    border: 1px solid #ceb3b3;
    padding: 5px 10px;
}

.importer-panel .form-group input.error{
    border: 1px solid #ed1c24;
}

.importer-panel .form-group input[type="file"]{
    border: 0;
    padding: 0;
}

input[readonly]{
    background-color: rgb(235, 235, 228);
}

.importer-panel .form-group #jaraSite, .importer-panel .form-group #projectKey{
    background-color: #f6e9e9;
}

#modalImportSuccess .modal-dialog{
    max-width: 900px;
}

.modal-body table{
    width: 100%;
}

.modal-header{
    padding: 0;
}

.modal-header button{
    position: absolute;
    top: 7px;
    right: 15px;
    z-index: 2;
}

.modal-body table td{
    border: 1px solid #ddd;
    padding: 5px 10px;
}

.modal-body table td.header-table{
    font-weight: bold;
    background-color: #ddd;
}

.content-importer-panel{
    position: relative;
}

.content-importer-panel .download-example-excel{
    position: absolute;
    top: 9px;
    right: 20px;
}

.select-file-import .check-input{
    display: inline-block;
    width: 20%;
}

.select-file-import .check-input label{
    margin-bottom: 0;
}