legend.group-border {
    width: inherit;
    padding: 0 10px;
    border-bottom: none;
    font-size: 17px;
    font-weight: 700;
    color: #676766;
}

fieldset.group-border {
    border: 1px solid #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    border-radius: 4px;
}

.oi[data-glyph]:empty:before {
    vertical-align: -3px;
}

.drpStatus.form-control {
    height: auto !important;
    box-sizing: border-box;
}

#testcasedetail-table #floatingBarsG {
    position: absolute;
    top: 12px;
    right: 14px;
    z-index: 2;
}

#testcasedetail-table .add-defects .spinner {
    top: 16px !important;
    right: 15px !important;
}

#testcasedetail-table .form-control {
    box-sizing: border-box;
    width: 100%;
}

#testcasedetail-table td {
    position: relative;
}

.update-comment {
    resize: none;
    box-sizing: border-box;
    overflow: hidden;
}

#testcasedetail-table .btn-link .oi[data-glyph]:empty:before {
    font-size: 16px;
}

#testcasedetail-table .btn-link {
    position: absolute;
    z-index: 3;
    bottom: 6px;
    right: 5px;
    padding: 0 !important;
}

#testcasedetail-table .btn-link.cancel-update-status,
#testcasedetail-table .btn-link.btn-cancel-update-comment {
    right: 26px;
    font-size: 18px;
    height: 16px;
    line-height: 0;
    min-width: 16px;
    background: #a0a0a0;
    border-radius: 50%;
    color: #fff;
    bottom: 8px;
    text-align: center;
    text-indent: 1px;
}

#testcasedetail-table .btn-link.cancel-update-status {
    position: static !important;
    margin-left: 5px;
}

#testcasedetail-table .btn-link.cancel-update-status:hover,
#testcasedetail-table .btn-link.btn-cancel-update-comment:hover {
    background: #676766;
}

.displayComment {
    min-height: 31px;
    white-space: pre-wrap;
}

.td-status select {
    display: inline-block;
    min-width: 136px;
}

.td-status .ct-status {
    display: flex;
    align-items: center;
}

.td-status #floatingBarsG {
    right: 8px !important;
    background: transparent !important;
}

#add_assignee.dropdown-toggle::after {
    display: none;
}

label .spinner {
    display: inline-block !important;
    vertical-align: middle;
    margin-left: 7px !important;
    transform: scale(0.8);
}

.td-allow-edit {
    cursor: pointer;
}

.defects .remove-ticket,
.defects .ticket {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    padding: 3px 5px;
    background: #984797;
    color: #fff !important;
    text-decoration: none;
}

.defects {
    white-space: nowrap;
    display: inline-block;
}

.defects .remove-ticket:hover,
.defects .ticket:hover {
    background: #6d276c;
}

.defects .remove-ticket {
    border-left: 1px solid #929292;
    border-radius: 0 4px 4px 0;
    font-size: 75%;
    line-height: 1;
    background: #676766;
}

.defects .remove-ticket .fa-times {
    line-height: 1;
    font-weight: 100;
    margin-top: -1px;
}

.defects .ticket {
    border-right: 1px solid #676766;
    border-radius: 4px 0 0 4px;
    font-size: 75%;
    background: #676766;
}

#testcasedetail-table .dropdown-item {
    width: auto !important;
}

td.defectsColumn {
    width: 185px;
}

td.add-defects {
    width: 215px;
}

#testcasedetail-table .bootstrap-select {
    max-width: 198px !important;
}

#add_assign .bootstrap-select.show>.dropdown-toggle.bs-placeholder,
#add_defect .bootstrap-select.show>.dropdown-toggle.bs-placeholder,
#testcasedetail-table .bootstrap-select.show>.dropdown-toggle.bs-placeholder {
    color: #fff !important;
}


/* #testcasedetail-table .dropdown-menu.open {
    right: -110px;
    width: 281px;
    left: auto !important;
} */

#testcasedetail-table.dropdown-menu.inner {
    max-height: 316px !important;
}

.bootstrap-select.show .dropdown-menu.open.show .dropdown-menu.inner {
    max-height: 400px !important;
}

#add_defect .bootstrap-select.show .dropdown-menu.open.show {
    min-width: 250px;
    right: 0;
    /* left: auto !important; */
}

.group.group-start {
    background: #bdbdbd !important;
    font-weight: 700;
}

.container-update-comment {
    position: relative;
    height: 100%;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
    max-width: 209px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#add_defect button.dropdown-toggle.btn {
    max-width: 100%;
}

#add_defect button.dropdown-toggle.btn .filter-option {
    text-overflow: ellipsis;
    /* max-width: 256px; */
}

#add_defect .dropdown-toggle::after {
    float: right;
    margin-right: -16px;
    margin-top: 5px;
}

.add-defects .btn.dropdown-toggle .spinner {
    position: absolute;
    top: 7px !important;
    right: 6px !important;
}

#testcasedetail-table .add-defects .btn.dropdown-toggle.active::after {
    display: none;
}

.opt-new-issue .check-mark {
    display: none !important;
}

.bootstrap-select.show .dropdown-menu .dropdown-menu.inner li a {
    height: 27px;
    display: flex !important;
    align-items: center;
    text-decoration: none;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    margin-top: 0 !important;
}

.bootstrap-select .dropdown-menu .dropdown-menu.inner li {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.breadcrumb-item,
.breadcrumb-item a {
    color: #212529 !important;
}

.w_add_defect_main {
    border-color: #676766;
    overflow: hidden;
    position: relative;
    padding-right: 50px;
    height: 35px;
}

.w_add_defect_main #addNewIssue{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-top-right-radius: .25rem;
    border: 0;
    background: #000;
    padding: 10px 15px;
    border-bottom-right-radius: .25rem;
}
.w_add_defect_main #addNewIssue:hover{
    opacity: 0.7;
}

.w_add_defect_main #addNewIssue span{
    color: #fff;
    font-size: 16px;
}

.w_add_defect_main .list-inline {
    margin: 0 !important;
    display: flow-root;
}

.w_add_defect_main .search-issue .form-control {
    /* box-sizing: border-box; */
    padding: 0;
    background: transparent;
    border: 0;
    /* height: 17px; */
}

.w_add_defect_main .list-inline-item {
    margin-right: 3px;
    margin-bottom: 2px;
    /* float: left; */
}

.w_add_defect_main .list-inline-item .defects {
    display: flex;
}

#searchMainDefect {
    overflow: hidden;
    padding: 0;
    border: 0;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    visibility: hidden;
    z-index: -1;
    height: 0;
}

.pos-relative{
    position: relative;
    padding-right: 30px;
}
.btn-refresh-data{
    position: absolute;
    top: 50%;
    right: 15px;
    z-index: 2;
    transform: translateY(-50%);
    background: none;
}
.btn-refresh-data:focus{
    box-shadow: none;
}
.not-sort:after, .not-sort:before{
    display: none!important;
}
table th.resizing {
    cursor: col-resize!important;
}
.th-order-id{
    width: 10px!important;
    cursor: pointer!important;
}
.th-status{
    width: 110px!important;
    cursor: pointer!important;
}
.td-defect{
    cursor: pointer!important;
    width: 170px!important;
}