/* add-on styles */

body {
    overflow: hidden;
}

.form-control {
    box-sizing: border-box;
    position: relative;
}

#content {
    min-height: 0 !important;
}

.intro-header h1 {
    font-size: 48px;
    line-height: 60px;
    padding-top: 20px;
}

.intro-header p.subtitle {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 20px;
}

.main-panel .aui-page-panel-item {
    padding: 20px 40px 20px 0;
    height: 100px;
}

body,
table.test-detail {
    background-color: #fff;
}

table.test-detail thead tr th {
    border-bottom: 1px solid #CCCCCC;
    width: 300px;
}

.ui-sortable-handle.dragging {
    border-top: none!important;
    padding: 0;
    margin: 0;
    width: 100%;
    height: inherit;
    background-color: #e0e0e0;
}

textarea {
    resize: none;
}

.vertical-middle {
    vertical-align: middle!important;
}

#tableVersion tr:hover {
    background-color: #f0f0f0;
}

span.editor:hover {
    box-shadow: 0 0 0 1px #ccc;
    border-radius: 3px;
    background-color: #ffffff;
}

.table-disable {
    opacity: 0.5;
    padding: 4px 4px 4px 3px !important;
}

#tableVersion tr.dragging {
    height: 40px!important;
}

tbody.disabled {
    opacity: 0.5;
}

#main-tableVersion td p {
    white-space: normal;
}
#tableVersion td p {
    white-space: normal;
}
#tableVersion .dropdown-toggle:after {
    display: none;
}

#tableVersion .btn+.btn {
    margin-left: 0px;
}

.functional-button {
    position: relative;
    /* max-width: 7px; */
    padding: 0;
}
.dropdownMenuButton{
    padding: 0;
    display: block;
}
#btnCancelStep{
    padding: 0;
    display: block;
}
#btnUpdateStep{
    padding: 0;
    display: block;
}
#refresh-data{
    padding: 0;
    display: block;
    box-sizing: inherit;
    margin-left: -5px;
}
.btn-fix{
    width: 41px ;
    display: inline-flex;
}
#export-data{
    padding: 0;
    display: block;
    box-sizing: inherit;
    float:left;
}
.import-data{
    padding: 0;
    display: block;
    box-sizing: inherit;
    float:left;
}
#fcBtn_delete {
    position: absolute;
    top: 0;
    bottom: 0;
    white-space: nowrap;
    right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

p {
    white-space: pre;
}

.editing td,
#addNewStep td {
    vertical-align: top !important;
}

pre {
    font-size: 100% !important;
}

.addNewStep_form {
    display: flex;
    justify-content: space-between;
}

.addNewStep_container {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-right: 15px;
}

.addNewStep_container > div{
    flex: 1;
}

.addNewStep_container > div:nth-child(2){
    margin-left: 15px;
    margin-right: 15px;
}

label.error{
    visibility: hidden;
}

.dataTables_wrapper{
    padding: 0;
}