.dataTables_wrapper{
    padding: 0;
}

.btn-action-testcase{
    display: block;
    width: 100%;
    text-align: left;
}

.btn-action-testcase:hover{
    background-color: #e3e3e3;
    text-decoration: none;
}

.add-new-content{
    min-height: 50px;
}