.tab-content{
    position: relative;
}

.table-parameter table td, .table-parameter table th{
    border: 1px solid #e7e7e7
}

.table-parameter .value-parameter input{
    border: 1px solid transparent;
    padding: 5px;
    width: 100%;
}

.table-parameter .value-parameter input:focus{
    border: 1px solid #00D6D6;
}

.name-step{
    border: 0;
    border-bottom: 2px dashed #ccc;
}

.input-search-data{
    position: absolute;
    top: -45px;
    right: 0;
    width: 40%;
}

.container-tab-content{
    position: relative;
}

.input-search-data .form-control{
    padding: 5px 10px;
}

#config-panel #container-tab-content{
    position: relative;
}

#tabsHeader .nav-link{
    padding: 18px 1rem;
}

#tabsHeader .nav-link.active{
    background-color: #fff;
    font-weight: bold;
}

.error-add-testcycle{
    color: #de2c2c;
    font-style: italic;
}

#listDefinition .order{
    display: none;
}