legend.group-border {
    width: inherit;
    padding: 0 10px;
    border-bottom: none;
    font-size: 17px;
    font-weight: 700;
    color: #676766;
}

fieldset.group-border {
    border: 1px solid #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    border-radius: 4px;
}