*{
    outline: 0;
}

.space-10 {
    height: 10px;
}

.space-20 {
    height: 20px;
}

.space-40 {
    height: 40px;
}

.position-relative{
    position: relative;
}

.modal-show-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99;
}

.modal-show-spinner.spinner-content{
    left: 25%;
    right: 0;
    width: 75%;
    top: 58px;
    opacity: 0.5;
    margin-left: -15px;
}

.modal-show-spinner.spinner-opacity{
    background-color: rgba(255,255,255,0.6);
}

.modal-show-spinner .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, -50%);
}

.list-group li{
    color: #636363;
    text-decoration: none !important;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-group li .issue-key, .list-group li .issue-title{
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-group li:hover{
    cursor: pointer;
}

.list-group li.showing{
    color: #000;
    background-color: #e3e3e3;
}

.left-content, .right-content, .btn-toggle-panel, .btn-open-panel-add-steps{
    transition: all .3s;
}

.btn-toggle-panel, .btn-open-panel-add-steps, .btn-import-testcase{
    position: absolute;
    left: 25%;
    margin-left: -10px;
    z-index: 2;
}

.btn-toggle-panel .fas{
    vertical-align: middle;
}

.btn-open-panel-add-steps, .btn-import-testcase{
    top: 40px;
}

.btn-toggle-panel.move-left, .btn-open-panel-add-steps.move-left, .btn-import-testcase.move-left{
    left: 0;
    margin-left: 0px;
}

.btn-toggle-panel.move-left{
    transform: rotate(-180deg);
}

#reloadFeature{
    position: absolute;
    width: 40px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: #ccc;
}

#reloadFeature span{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -7px;
}

.left-content.move-left{
    max-width: 0;
    transform: translateX(-100%);
    flex: 0 auto;
    width: 0;
    padding-right: 0;
    overflow: hidden;
}

.right-panel{
    min-height: 768px;
    padding-left: 30px;
}

.right-content.full-width{
    max-width: 100%;
    flex: 0 0 99%;
}

.no-action-selected {
    padding: 250px 0;
    text-align: center;
}

.no-action-selected .placeholder-section__legend, .no-action-selected .placeholder-section__feature{
    font-size: 26px;
    line-height: 30px;
    color: #CCCCCC;
    font-weight: bold;
}

fieldset.group-border{
    margin: 10px 30px;
}

legend.group-border {
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    font-size: 17px;
    font-weight: 700;
    color: #676766;
}

fieldset.group-border {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
    border-radius: 4px;
}

#body-loading-bar{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

#body-loading-bar .progress-bar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
}

#body-loading-bar .progress-bar-striped{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .3s;
    background-repeat: repeat;
    animation: mymove linear 20s infinite;
}

#body-loading-bar .text-importing{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    text-transform: uppercase;
}

@keyframes mymove {
    from {background-position-x: 0%;}
    to {background-position-x: 100%;}
}

input.error{
    border-color: #de2c2c;
}

.dataTables_wrapper{
    padding: 0;
}