{{#contentFor "pageStyles"}}
    <link rel="stylesheet" href="{{furl '/plugins/codemirror/codemirror.css'}}" type="text/css"/>
    <link rel="stylesheet" href="{{furl '/plugins/codemirror/theme/base16-light.css'}}" type="text/css"/>
    <link rel="stylesheet" href="{{furl '/plugins/codemirror/theme/eclipse.css'}}" type="text/css"/>
    <link rel="stylesheet" href="{{furl '/plugins/codemirror/display/fullscreen.css'}}" type="text/css"/>
    <link rel="stylesheet" href="{{furl '/plugins/codemirror/dialog/dialog.css'}}" type="text/css"/>
    <link rel="stylesheet" href="{{furl '/plugins/codemirror/hint/show-hint.css'}}" type="text/css" /> 
    <link rel="stylesheet" href="/css/icon/config-font/flaticon.css" type="text/css" />
    <link rel="stylesheet" href="/css/configuration.css" type="text/css" />
    <link rel="stylesheet" href="{{furl '/plugins/jquery-ui/jquery-ui.custom.css'}}" type="text/css"/>
    <link rel="stylesheet" href="{{furl '/css/all.css'}}" type="text/css" />
    <link rel="stylesheet" href="{{furl '/css/automation_testcase_panel.css'}}" type="text/css" />
    
{{/contentFor}} 
{{!< layout}}
<header>
    <nav class="navbar navbar-dark bg-light">
        <img alt="INFOdation" src="/images/logo.png">
        <h1>{{title}}</h1>
        <span style="flex: 1 0 auto"></span>
    </nav>
</header>   

{{!-- create new scenario --}}
<input type="text" id="projectId" value="{{projectId}}" class="d-none">
<div class="content-automation-testcase">
    <div class="left-content-automation-testcase">
        <div class="search-automation-testcase">
            <input type="text" id="txtSearchTestCase" class="txtSearchTestCase form-control" placeholder="Search automation testcase..." />
            <a href="javascript:void(0)" id="reloadFeature"><span class="fas fa-sync-alt"></span></a>
            <button type="button" id="togglePanel" class="btn btnStyle">
                <span class="flaticon-arrows-1"></span>
            </button>
        </div>
        <ul id="result-search"></ul>
    </div>
    <div class="right-content-automation-testcase">
        <div class="action-selected" id="action-selected">
            <div class="new-screen-scenario" id="newScreenScenario">
                <div class="button-action-all text-right">
                    <button type="button" id="deleteAllScenario" data-toggle="modal" data-target="#modalConfirmDelete">
                        <span class="fas fa-trash-alt"></span>
                    </button>
                    <button type="button" id="switch-version-all-content">Raw version</button>
                </div>
                <div class="space-20"></div>
                <div class="screen-raw-version-all" id="screenRawVersionAll" style="display:none">
                    <textarea placeholder="No data" name="rawAll" id="rawVersionAll" cols="30" rows="10"></textarea>
                </div>
                <div class="screen-editor-version-all" id="screenEditorVersionAll">
                    <div class="top-link">
                        <a href="javascript:void(0)" class="feature-name" id="featureNameLink"></a>
                        <div id="linkOpenedScenarioDetail" style="display: none"> 
                            <span> / </span>
                            <a href="javascript:void(0)" class="scenario-name" id="scenarioNameLink"></a>
                        </div>
                    </div>
                    <div class="space-20"></div>
                    <div class="screen-split-scenario" id="splitScenario">
                        {{!-- description feature --}}
                        <div class="text-description">
                            <textarea type="text" placeholder="Enter description..." class="form-control no-description" id="descriptionFeature"></textarea>
                        </div>
                        <div class="space-20"></div>
                        <div class="tags-feature">
                            <ul id="tagsFeature">
                                <li class="tag-info tag-ember-view add-new-tag" title="Add new tag">
                                    <span class="tag-name add-new">Add new tag</span>
                                </li>
                            </ul>
                        </div>
                        <div class="space-20"></div>
                        {{!-- list split scenario --}}
                        <div class="screen-create-show-scenario" id="createShowScenario">
                            <div class="top-create">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="total-scenario" id="totalScenario" data-total="0">No scenarios</div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="button-create-scenario text-right">
                                            <button type="button" class="button-create" data-toggle="modal" data-target="#modalCreateNewScenario">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="all-scenarios all-steps">
                                <div id="showTagsScenario" class="show-tags-scenario" style="display:none">
                                    <a href="javascript:void(0)">Show tags</a>
                                </div>
                                <div class="center-list-scenario">
                                    <span id="text-no-scenario" class="text-no-step">Use button above to create a new scenario</span>
                                    <ul id="listScenarios" class="list-scenarios"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="space-20"></div>
                        {{!-- background --}}
                        <div class="data-collapse" id="dataBackground">
                            <div class="collapse-header">
                                <a class="card-title" href="#collapseDataBackgroud" data-toggle="collapse">
                                    Setup
                                    <span class="fa fa-angle-up"></span>
                                    <span class="fa fa-angle-down"></span>
                                </a>
                            </div>
                            <div id="collapseDataBackgroud" class="collapse">
                                <div class="guide-panel text-right">
                                    <button class="btn btn-link" id="switch-version-background">Raw version</button>
                                </div>
                                <div class="all-steps" id="allStepsBackground">
                                    <div class="center-steps-background">
                                        <span id="text-no-steps-background" class="text-no-step">No Step</span>
                                        <ul id="listStepsBackground" class="list-steps"></ul>
                                    </div>
                                    <div class="bottom-steps-background">
                                        <input type="text" id="txtStepBackground" class="form-control" placeholder="Add step..." />
                                    </div>
                                </div>
                                <div id="rawBackground" style="display: none">
                                    <textarea placeholder="No data" name="rawBackground" id="rawVersionBackground" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="screen-detail-scenario" id="screenDetailScenario" style="display:none">
                        {{!-- name and description --}}
                        <div class="name-description-scenario">
                            <div class="text-description">
                                <input type="text" placeholder="Name.." class="form-control" id="outputScenarioName">
                            </div>
                            <div class="space-20"></div>
                            <div class="text-description">
                                <textarea type="text" placeholder="Enter description..." class="form-control no-description" id="outputDescriptionScenario"></textarea>
                            </div>
                            <div class="space-20"></div>
                            <div class="tags-feature">
                                <ul id="listTagsScenario">
                                    <li class="tag-info tag-ember-view add-new-tag" title="Add new tag">
                                        <span class="tag-name add-new">Add new tag</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="space-20"></div>
                        {{!-- table of scenario --}}
                        <div class="data-collapse" id="dataTableScenario">
                            <div class="collapse-header">
                                <a class="card-title" href="#collapseDataTable" data-toggle="collapse">
                                    Dataset
                                    <span class="fa fa-angle-up"></span>
                                    <span class="fa fa-angle-down"></span>
                                </a>
                            </div>
                            <div id="collapseDataTable" class="collapse">
                                <div class="guide-panel text-right">
                                    <button class="btn btn-link" id="switch-version-data-table" style="display:none">Raw version</button>
                                </div>
                                <div id="allDataTable" class="all-data-table">
                                    <div class="table-background">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="fixed-last-column">
                                                        <button class="createDataHeader" title="Add new dataset">
                                                            <span class="fa fa-plus-circle"></span>
                                                        </button>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    <div class="button-create-data-table text-right">
                                        <button type="button" class="button-create" id="addNewDataSetRow" style="display:none">Add new data set</button>
                                    </div>
                                </div>
                                <div id="rawDataTable" style="display: none">
                                    <textarea placeholder="No data" name="rawDataTable" id="rawVersionDataTable" cols="30" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="space-20"></div>
                        {{!-- list steps scenario --}}
                        <div class="steps-scenario">
                            <div class="top-steps-scenario">
                                <div class="steps-scenario-text">Steps Scenario</div>
                            </div>
                            <div class="guide-panel text-right">
                                <button class="btn btn-link" id="switch-version-step">Raw version</button>
                            </div>
                            <div class="all-steps" id="allStepsScenario">
                                <div class="center-steps-scenario">
                                    <span id="text-no-step" class="text-no-step">No Step</span>
                                    <ul id="listSteps" class="list-steps"></ul>
                                </div>
                                <div class="bottom-steps-scenario">
                                    <input type="text" id="txtStepData" class="form-control" placeholder="Add step..." />
                                </div>
                                <div class="space-20"></div>
                            </div>
                            <div id="rawStepsScenario" style="display: none">
                                <textarea placeholder="No data" name="rawDataTable" id="rawVersionStepsScenario" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="space-20"></div>
                </div>
            </div>
        </div>
    <div class="no-action-selected" id="no-action-selected">
        <div class="placeholder-section__legend">Select an feature in the left menu</div>
        <div class="tab-wrapper" style="display:none">
            <div class="placeholder-section__feature">No available feature, please select action below...</div>
            <div class="tab">
                <a class="btn btn-link" id="import-file" data-html="true" data-toggle="tooltip"><span href="#form-import" class="fas fa-cloud-upload-alt"></span></a>
                <a class="btn btn-link" id="create-feature" data-html="true" data-toggle="tooltip"><span href="#formGroup" class="fa fa-plus-circle"></span></a>
            </div>
            <div class="tab-content">
                <div class="tab-item" id="formGroup">
                    <input type="text" class="form-control" placeholder="New feature name..." id="inputNewFeatureName" >
                </div>
                <div class="tab-item" id="form-import">
                    <div class="row">
                    <fieldset class="group-border jira-group">
                        <legend></legend>
                        <div class="file-upload">
                            {{!-- <label for="upload" class="file-upload__label">Choose file</label> --}}
                            <input id="uploadFile" class="file-upload__input" accept=".feature" type="file" name="uploadFile">
                            <button type="submit" id="submitAuto">Submit</button>
                        </div>
                    </fieldset>
                </div>
                </div>
            </div>
        </div>
        
    </div>
    </div>
</div>

<div class="modal-show-spinner" id="spinnerScenario">
    <span class="spinner">
        <span class="fa fa-spinner fa-pulse" style="color:#5a325a;"></span>
    </span>
</div>

<div class="modal fade" id="modalCreateNewScenario" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create New Scenario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">New scenario name</label>
                    <input type="text" class="form-control" placeholder="New scenario name..." id="inputScenarioName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="createNewScenario">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Auto Testcase</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="deleteSure">Delete</button>
            </div>
        </div>
    </div>
</div>

{{#contentFor "pageScripts"}}
    <script src="{{furl '/plugins/codemirror/codemirror.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/display/autorefresh.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/display/fullscreen.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/display/placeholder.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/search/search.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/search/searchcursor.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/search/jump-to-line.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/dialog/dialog.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/scroll/simplescrollbars.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/mode/powershell/powershell.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/mode/sql/sql.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/mode/javascript/javascript.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/mode/gherkin/gherkin.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/hint/show-hint.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/mustache/mustache.min.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/datatables/dataTables.rowGroup.min.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/datatables/ColReorderWithResize.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/sortable/sortable.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/jquery-ui/jquery-ui.custom.js'}}" type="text/javascript"></script>
    <script src="{{furl '/js/automation_testcase.js'}}" type="text/javascript"></script>  
    <script src="{{furl '/plugins/fuzzy-search/fuse.min.js'}}" type="text/javascript"></script>
    
{{/contentFor}}