{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="{{furl '/css/automation_testcase_debug_panel.css'}}" type="text/css" />
{{/contentFor}}

{{!< layout}}

<fieldset class="group-border">
    <legend class="group-border"><span class="oi" data-glyph="bug"></span> Debug</legend>
    <div class="row">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" id="confirm_exec_debug">Execute</button>
            <button type="button" class="btn btn-primary" id="get_status_debug">Check status</button>
            <button type="button" class="btn btn-primary" id="get_log_debug">Get log</button>
            <button type="button" class="btn btn-primary" id="confirm_stop_debug">Stop</button>
        </div>
    </div>
</fieldset>
<!-- popup show log -->
<div class="modal modal-showlog fade ifdModal" id="modal-show-log" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Log</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0" style="border-radius: 0 0 4px 4px; overflow: hidden;">
                <textarea id="txt-show-log" cols="30" rows="10"></textarea>
            </div>
        </div>
    </div>
</div>
{{#contentFor "pageScripts"}}
    <script src="{{furl '/plugins/moment/moment.min.js'}}"></script>
    <script src="{{furl '/js/automation_testcase_debug_panel.js'}}" type="text/javascript"></script>
{{/contentFor}}