{{#contentFor "pageStyles"}}
    <link rel="stylesheet" href="{{furl '/plugins/codemirror/codemirror.css'}}" type="text/css"/>
    <link rel="stylesheet" href="{{furl '/plugins/codemirror/theme/base16-light.css'}}" type="text/css"/>
    <link rel="stylesheet" href="{{furl '/plugins/codemirror/theme/eclipse.css'}}" type="text/css"/>
    <link rel="stylesheet" href="{{furl '/plugins/codemirror/display/fullscreen.css'}}" type="text/css"/>
    <link rel="stylesheet" href="{{furl '/plugins/codemirror/dialog/dialog.css'}}" type="text/css"/>
    <link rel="stylesheet" href="{{furl '/plugins/codemirror/hint/show-hint.css'}}" type="text/css" />
    <link rel="stylesheet" href="{{furl '/css/new.css'}}" type="text/css" />
    <link rel="stylesheet" href="{{furl '/css/automation_testcase_panel.css'}}" type="text/css" />
    <link rel="stylesheet" href="{{furl '/css/testcase_management.css'}}" type="text/css" />
{{/contentFor}}
{{!< layout}}

{{!-- create new scenario --}}
<div class="new-screen-scenario">
    <input type="text" class="d-none" id="issueId" value="{{issueId}}">
    <div class="button-switch-version">
        <a class="btn btn-link" id="switch-version" target="_blank" title="Go to detail page"
        href="{{hostBaseUrl}}/plugins/servlet/ac/Infodation-tms/auto-testcase-management?user.key={{userKey}}&ac.issueId={{issueId}}&issue.key={{issueKey}}&project.key={{projectKey}}&project.id={{JIRAprojectId}}&user.id={{userId}}">
            <span class="fa fa-edit"></span>
        </a>
        <a class="btn btn-link" id="import-file" title="Import file"><span class="fas fa-cloud-upload-alt"></span></a>
        <a class="btn btn-link" id="refresh-data" title="Refresh data"><span class="fas fa-sync-alt"></span></a>
        <span class="tooltip-guides fa fa-question-circle" data-html="true" id="tooltip-guides" data-toggle="tooltip" style="display:none;color:black"></span>
    </div>
    <div id="button-action-top">
        <div class="placeholder-section__feature">No available feature, please select action above...</div>
        <div class="tab-pane" id="form-import" style="display: none">
            <div class="row" id="tab-pane">
                <fieldset class="group-border jira-group">
                    <legend class="group-border ">Import File</legend>
                    <div class="file-upload">
                        <input id="uploadFile" class="file-upload__input" accept=".feature" type="file" name="uploadFile">
                        <button type="submit" id="submitAuto" class="btn btn-info">Submit</button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div id="body-loading-bar" style="display: none;">
        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="text-importing">Importing...</div>
            <div class="progress-bar-striped"></div>
        </div>
    </div>

    <div class="screen-raw-version-all" id="screenRawVersionAll">
        <div class="space-20"></div>
        <textarea id="text-area-raw-version" placeholder="No data" cols="30" rows="10" value="{{gherkinContent}}">{{gherkinContent}}</textarea>
    </div>
</div>

<div class="modal-show-spinner" id="spinnerScenario">
    <span class="spinner">
        <span class="fa fa-spinner fa-pulse" style="color:#5a325a;"></span>
    </span>
</div>


{{#contentFor "pageScripts"}}
    <script src="{{furl '/plugins/codemirror/codemirror.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/display/autorefresh.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/display/fullscreen.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/display/placeholder.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/search/search.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/search/searchcursor.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/search/jump-to-line.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/dialog/dialog.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/scroll/simplescrollbars.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/mode/powershell/powershell.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/mode/javascript/javascript.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/mode/gherkin/gherkin.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/hint/show-hint.js'}}" type="text/javascript"></script>
    <script src="{{furl '/js/automation_testcase_panel.js'}}" type="text/javascript"></script>

{{/contentFor}}
