{{#contentFor "pageStyles"}}
<link rel="stylesheet" href="{{furl '/plugins/codemirror/codemirror.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/plugins/codemirror/theme/base16-light.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/plugins/codemirror/theme/eclipse.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/plugins/codemirror/display/fullscreen.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/plugins/codemirror/dialog/dialog.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/plugins/codemirror/hint/show-hint.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/plugins/autocomplete/jquery.auto-complete.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/plugins/jquery-ui/jquery-ui.custom.css'}}">
<link rel="stylesheet" href="{{furl '/css/icon/config-font/flaticon.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/css/testcase_management.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/css/automation_testcase_panel.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/css/automation_testcase_panel_execution.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/css/configuration.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/css/new.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/css/dialog_add_issue_to_testcycle.css'}}" type="text/css" />
{{/contentFor}}
{{!< layout}} <header class="mb-0 bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 p-0">
                <nav class="navbar navbar-dark">
                    <img alt="INFOdation" src="/images/logo.png">
                    <h1>{{title}}</h1>
                </nav>
            </div>
            <div class="col-sm-6 p-0">
                <ul id="tabsHeader" class="nav nav-justified">
                    <li class="nav-item">
                        <a id="autoTestCaseTab" class="nav-link active" data-tab="#autoTestCase" href="javascript:void(0)">
                            Auto Testcase
                        </a>
                    </li>
                    <li class="nav-item">
                        <a id="configurationTab" class="nav-link" data-tab="#configuration" href="javascript:void(0)">
                            Configuration
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </header>

    <div class="modal fade" id="modalConfirmDeleteSteps" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Steps</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        Are you sure to delete step:
                        <span class="steps-name"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="deleteSureSteps">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalCreateNewScenario" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Scenario</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">New scenario name</label>
                        <input type="text" class="form-control" placeholder="New scenario name..." id="inputScenarioName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="createNewScenario">Create</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalConfirmDeleteTestcase" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Auto Testcase</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="deleteSureTestcase">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalAddTestCycle" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add To Test Cycle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group"></div>
                            <div class="form-group">
                                <label for="pwd">Test Cycle:</label>
                                <select disabled id="project_cycle" class="form-control">
                                    <optgroup id="selectCycle" label="Select Test Cycle"></optgroup>
                                    <option> loading ... </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Assigned_to">Assigned to</label>
                                <select disabled id="project_user" class="form-control">
                                    <option> loading ... </option>
                                </select>
                            </div>
                            <div class="m-0 form-group">
                                <button type="button" id="add-test-cycle" disabled class="btn btn-primary">Add</button>
                                <button type="cancel" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                            </div>
                            <label class="m-0 error-add-testcycle" id="error-add-testcycle"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-show-spinner" id="spinnerScenario">
        <span class="spinner">
            <span class="fa fa-spinner fa-pulse" style="color:#5a325a;"></span>
        </span>
    </div>

    <div id="body-loading-bar" style="display: none;">
        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="text-importing">Importing...</div>
            <div class="progress-bar-striped"></div>
        </div>
    </div>

    <!-- popup show log -->
    <div class="modal modal-showlog fade ifdModal" id="modal-show-log" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Log</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-0" style="border-radius: 0 0 4px 4px; overflow: hidden;">
                    <textarea id="txt-show-log"></textarea>
                </div>
            </div>
        </div>
    </div>

    <!-- popup automation execution -->
    <div class="modal modal-exec-info fade ifdModal modal-testcase-execution" id="modal-exec-info" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Execution Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="check-input">
                        <input type="radio" name="browser" value="chrome" checked="checked" id="radioChrome">
                        <label for="radioChrome">Chrome</label>
                    </div>
                    <div class="check-input">
                        <input type="radio" name="browser" value="firefox" id="radioFirefox">
                        <label for="radioFirefox">Firefox</label>
                    </div>
                    <div class="option-wait-time">
                        <span>
                            Wait Time:
                            <input type="number" style="width: 40px;" name="wait_time" id="wait_time" onkeypress="return isNumberKey(event)"
                                value="10" />
                        </span>
                    </div>
                    <div class="option-print-logs">
                        <span>
                            Print Logs
                            <select id="print_logs">
                                <option selected="selected" value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom-1" id="exec_debug">Yes</button>
                    <button type="button" class="btn btn-custom-1" id="cancel-exec-debug">No</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- modal confirm stop --}}
    <div class="modal fade ifdModal modal-testcase-execution" id="modalConfirmStop" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete issue</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" id="stopSure">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-content">
        <input type="text" id="projectId" value="{{projectId}}" class="d-none">
        <div class="container-fluid position-relative">
            <button type="button" id="togglePanel" onclick="togglePanel(this)" class="btn btn-outline-dark btn-toggle-panel">
                <span class="fas fa-arrow-left"></span>
            </button>
            <div class="tab-main-content">
                <div id="autoTestCase" class="content-main-tab active">
                    <div class="row">
                        <div class="col-sm-3 pl-0 left-content">
                            <input type="text" class="d-none" value="{{stringObjTestCase}}" id="originValObjTestCase">
                            <div class="form-group mb-0 position-relative">
                                <input type="text" id="txtSearchTestCase" onkeyup="searchTestCase(this, 'AUTO-TEST')"
                                    class="form-control rounded-0" placeholder="Search testcase..." />
                                <a href="javascript:initLoadAllFeature('{{JIRAprojectKey}}', 'AUTO-TEST')" id="reloadFeature"><span
                                        class="fas fa-sync-alt"></span></a>
                            </div>
                            <ul id="resultTestCase" class="list-group">
                                {{#if objTestCase}}
                                {{#each objTestCase}}
                                <li class="list-group-item" data-project-id="{{projectId}}" data-jira-id="{{jiraTicketId}}"
                                    data-issue-key="{{key}}">
                                    <span><img style="width: 20px;" src="../../images/auto.png"></span>
                                    <span class="issue-key">{{key}}</span>
                                    <span class="issue-title d-block">{{summary}}</span>
                                </li>
                                {{/each}}
                                {{else}}
                                <li class="list-group-item" title="No data">No data</li>
                                {{/if}}
                            </ul>
                        </div>
                        <div class="col-sm-9 right-content">
                            <div class="right-panel">
                                <div class="action-selected" id="action-selected">
                                    <div class="automation-testcase-execution">
                                        <table class="table table-striped table-bordered" id="auto_testcase_execution_panel">
                                            <thead>
                                                <tr>
                                                    <th nowrap>Version</th>
                                                    <th nowrap>Test Cycle</th>
                                                    <th nowrap>Status</th>
                                                    <th nowrap>Defects</th>
                                                    <th nowrap>Executed By</th>
                                                    <th nowrap>Executed On</th>
                                                    <th nowrap>Debug</th>
                                                    <th>
                                                        </button>
                                                        <button class="btn btn-link" id="openDialogTestCycle"
                                                            data-toggle="modal" data-target="#modalAddTestCycle"
                                                            data-toggle="tooltip" title="Add Cycle">
                                                            <span class="fa fa-plus-circle"></span>
                                                        </button>
                                                        <button class="btn btn-link" id="refresh-data">
                                                            <span class="fas fa-sync-alt"></span>
                                                        </button>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="new-screen-scenario" id="newScreenScenario">
                                        <div class="button-action-all text-right">
                                            <button type="button" id="deleteAllScenario" data-toggle="modal"
                                                data-target="#modalConfirmDeleteTestcase">
                                                <span class="fas fa-trash-alt"></span>
                                            </button>
                                            <button type="button" id="switch-version-all-content">Raw version</button>
                                            <a class="breadcrumb-item" target="_blank" id="JIRAticketKey-auto"></a>
                                        </div>
                                        <div class="space-20"></div>
                                        <div class="screen-raw-version-all" id="screenRawVersionAll" style="display:none">
                                            <textarea placeholder="No data" name="rawAll" id="rawVersionAll" cols="30"
                                                rows="10"></textarea>
                                        </div>
                                        <div class="screen-editor-version-all" id="screenEditorVersionAll">
                                            <div class="top-link">
                                                <a href="javascript:void(0)" class="feature-name" id="featureNameLink"></a>
                                                <div id="linkOpenedScenarioDetail" style="display: none">
                                                    <span> / </span>
                                                    <a href="javascript:void(0)" class="scenario-name" id="scenarioNameLink"></a>
                                                </div>
                                            </div>
                                            <div class="space-20"></div>
                                            <div class="screen-split-scenario" id="splitScenario">
                                                {{!-- description feature --}}
                                                <div class="text-description">
                                                    <textarea type="text" placeholder="Enter description..." class="form-control no-description"
                                                        id="descriptionFeature"></textarea>
                                                </div>
                                                <div class="space-20"></div>
                                                <div class="tags-feature">
                                                    <ul id="tagsFeature">
                                                        <li class="tag-info tag-ember-view add-new-tag" title="Add new tag">
                                                            <span class="tag-name add-new">Add new tag</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="space-20"></div>
                                                {{!-- list split scenario --}}
                                                <div class="screen-create-show-scenario" id="createShowScenario">
                                                    <div class="top-create">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="total-scenario" id="totalScenario"
                                                                    data-total="0">No scenarios</div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="button-create-scenario text-right">
                                                                    <button type="button" class="button-create"
                                                                        data-toggle="modal" data-target="#modalCreateNewScenario">Create</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="all-scenarios all-steps">
                                                        <div id="showTagsScenario" class="show-tags-scenario" style="display:none">
                                                            <a href="javascript:void(0)">Show tags</a>
                                                        </div>
                                                        <div class="center-panel-block">
                                                            <span id="text-no-scenario" class="text-no-step">Use button
                                                                above to create a new scenario</span>
                                                            <ul id="listScenarios" class="list-scenarios"></ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="space-20"></div>
                                                {{!-- background --}}
                                                <div class="data-collapse" id="dataBackground">
                                                    <div class="collapse-header">
                                                        <a class="card-title" href="#collapseDataBackgroud" data-toggle="collapse">
                                                            Setup
                                                            <span class="fa fa-angle-up"></span>
                                                            <span class="fa fa-angle-down"></span>
                                                        </a>
                                                    </div>
                                                    <div id="collapseDataBackgroud" class="collapse">
                                                        <div class="guide-panel text-right">
                                                            <button class="btn btn-link" id="switch-version-background">Raw
                                                                version</button>
                                                        </div>
                                                        <div class="all-steps" id="allStepsBackground">
                                                            <div class="center-panel-block">
                                                                <span id="text-no-steps-background" class="text-no-step">No
                                                                    Step</span>
                                                                <ul id="listStepsBackground" class="list-steps"></ul>
                                                            </div>
                                                            <div class="bottom-panel-block">
                                                                <input type="text" id="txtStepBackground" class="form-control"
                                                                    placeholder="Add step..." />
                                                            </div>
                                                        </div>
                                                        <div id="rawBackground" style="display: none">
                                                            <textarea placeholder="No data" name="rawBackground" id="rawVersionBackground"
                                                                cols="30" rows="10"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="screen-detail-scenario" id="screenDetailScenario" style="display:none">
                                                {{!-- name and description --}}
                                                <div class="name-description-scenario">
                                                    <div class="text-description">
                                                        <input type="text" placeholder="Name.." class="form-control" id="outputScenarioName">
                                                    </div>
                                                    <div class="space-20"></div>
                                                    <div class="text-description">
                                                        <textarea type="text" placeholder="Enter description..." class="form-control no-description"
                                                            id="outputDescriptionScenario"></textarea>
                                                    </div>
                                                    <div class="space-20"></div>
                                                    <div class="tags-feature">
                                                        <ul id="listTagsScenario">
                                                            <li class="tag-info tag-ember-view add-new-tag" title="Add new tag">
                                                                <span class="tag-name add-new">Add new tag</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="space-20"></div>
                                                {{!-- table of scenario --}}
                                                <div class="data-collapse" id="dataTableScenario">
                                                    <div class="collapse-header">
                                                        <a class="card-title" href="#collapseDataTable" data-toggle="collapse">
                                                            Dataset
                                                            <span class="fa fa-angle-up"></span>
                                                            <span class="fa fa-angle-down"></span>
                                                        </a>
                                                    </div>
                                                    <div id="collapseDataTable" class="collapse">
                                                        <div class="guide-panel text-right">
                                                            <button class="btn btn-link" id="switch-version-data-table"
                                                                style="display:none">Raw version</button>
                                                        </div>
                                                        <div id="allDataTable" class="all-data-table">
                                                            <div class="table-background">
                                                                <table>
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="fixed-last-column">
                                                                                <button class="createDataHeader" title="Add new dataset">
                                                                                    <span class="fa fa-plus-circle"></span>
                                                                                </button>
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody></tbody>
                                                                </table>
                                                            </div>
                                                            <div class="button-create-data-table text-right">
                                                                <button type="button" class="button-create" id="addNewDataSetRow"
                                                                    style="display:none">Add new data set</button>
                                                            </div>
                                                        </div>
                                                        <div id="rawDataTable" style="display: none">
                                                            <textarea placeholder="No data" name="rawDataTable" id="rawVersionDataTable"
                                                                cols="30" rows="10"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="space-20"></div>
                                                {{!-- list steps scenario --}}
                                                <div class="steps-scenario">
                                                    <div class="top-steps-scenario">
                                                        <div class="steps-scenario-text">Steps Scenario</div>
                                                    </div>
                                                    <div class="guide-panel text-right">
                                                        <button class="btn btn-link" id="switch-version-step">Raw
                                                            version</button>
                                                    </div>
                                                    <div class="all-steps" id="allStepsScenario">
                                                        <div class="center-panel-block">
                                                            <span id="text-no-step" class="text-no-step">No Step</span>
                                                            <ul id="listSteps" class="list-steps"></ul>
                                                        </div>
                                                        <div class="bottom-panel-block">
                                                            <input type="text" id="txtStepData" class="form-control"
                                                                placeholder="Add step..." />
                                                        </div>
                                                        <div class="space-20"></div>
                                                    </div>
                                                    <div id="rawStepsScenario" style="display: none">
                                                        <textarea placeholder="No data" id="rawVersionStepsScenario"
                                                            cols="30" rows="10"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-20"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="no-action-selected" id="no-action-selected">
                                    <div class="placeholder-section__legend">Select a testcase in the left menu</div>
                                    <div class="tab-wrapper-feature" style="display:none">
                                        <div class="placeholder-section__feature">No available feature, please select
                                            action below...</div>
                                        <div class="space-20"></div>
                                        <ul class="tab-import nav nav-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="importTab" data-toggle="tab" href="#form-import"
                                                    role="tab" aria-controls="form-import" aria-selected="true">
                                                    <span class="fas fa-cloud-upload-alt"></span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="featureNameTab" data-toggle="tab" href="#formGroup"
                                                    role="tab" aria-controls="formGroup" aria-selected="false">
                                                    <span class="fa fa-plus-circle"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="space-20"></div>
                                        <div class="tab-content">
                                            <div class="tab-pane" id="formGroup" role="tabpanel" aria-labelledby="featureNameTab">
                                                <input type="text" class="form-control" placeholder="New feature name..."
                                                    id="inputNewFeatureName">
                                            </div>
                                            <div class="tab-pane active" id="form-import" role="tabpanel"
                                                aria-labelledby="importTab">
                                                <div class="file-upload">
                                                    <input id="uploadFile" class="file-upload__input" accept=".feature"
                                                        type="file" name="uploadFile">
                                                    <button type="submit" id="submitAuto" class="btn btn-info">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="configuration" class="content-main-tab">
                    <button type="button" id="btnOpenPanelAddSteps" class="btn btn-outline-dark btn-open-panel-add-steps"
                        title="Add New Steps">
                        <span class="fas fa-plus"></span>
                    </button>
                    <div class="row">
                        <div class="col-sm-3 pl-0 left-content">
                            <div class="form-group mb-0">
                                <input type="text" id="txtSearchSteps" class="form-control round-0" placeholder="Search steps..." />
                            </div>
                            <input type="text" class="d-none" value="{{stringObjStep}}" id="originValObjSteps">
                            <ul id="resultSteps" class="list-group">
                                {{#if objSteps }}
                                {{#each objSteps}}
                                <li class="list-group-item detail-steps" title="{{name}}" data-step-id="{{id}}">
                                    {{name}}
                                </li>
                                {{/each}}
                                {{else}}
                                <li class="list-group-item" title="No data">No data</li>
                                {{/if}}
                            </ul>
                        </div>
                        <div class="col-sm-9 right-content">
                            <div class="right-panel">
                                <div class="action-selected" id="actionSelectedConfig">
                                    <div class="button-action-all text-right">
                                        <button type="button" id="deleteStepsDefinition" data-toggle="modal"
                                            data-target="#modalConfirmDeleteSteps">
                                            <span class="fas fa-trash-alt"></span>
                                        </button>
                                    </div>
                                    <div class="space-20"></div>
                                    <div class="screen-raw-version-config" id="screenRawVersionConfig" style="display:none">
                                        <textarea placeholder="No data" id="rawVersionStepsDefinition" cols="30" rows="10"></textarea>
                                    </div>
                                    <div class="screen-editor-version-config" id="screenEditorVersionConfig">
                                        <div id="blockCreateNewStep">
                                            <input id="nameStepsDefinition" type="text" class="form-control name-step pl-0"
                                                placeholder="Enter steps">
                                        </div>
                                        <div id="blockEditSteps">
                                            <div class="space-20"></div>
                                            <div id="panel-steps-param" class="data-collapse">
                                                <div class="collapse-header">
                                                    <a class="card-title" href="#collapse-parameter" data-toggle="collapse">Steps
                                                        Param<span class="fa fa-angle-up"></span></a>
                                                </div>
                                                <div id="collapse-parameter" class="collapse all-steps">
                                                    <div class="table table-parameter">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <div class="name-parameter font-weight-bold">Name</div>
                                                                    </th>
                                                                    <th>
                                                                        <div class="value-parameter font-weight-bold">Default
                                                                            Value</div>
                                                                    </th>
                                                                    <th>
                                                                        <div class="action-parameter"></div>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="allParameters">

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space-20"></div>
                                            <div id="panelDefinition" class="data-collapse">
                                                <div class="collapse-header">
                                                    <a class="card-title">Definition</span></a>
                                                </div>
                                                <div class="all-steps">
                                                    <div id="rawDefinition">
                                                        <textarea placeholder="No data" id="rawVersionDefinition" cols="30"
                                                            rows="10" value=""></textarea>
                                                    </div>
                                                    <div class="bottom-panel-block">
                                                        <input type="text" id="txtDefinition" class="form-control"
                                                            placeholder="Add step..." />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="space-40"></div>
                                </div>
                                <div class="no-action-selected" id="noActionSelectedConfig">
                                    <div class="placeholder-section__legend">Select an action in the left menu</div>
                                </div>
                                {{!-- ***************************panel data of config********************************
                                --}}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="config-panel">
                                            <div class="tab-title">
                                                <ul class="nav nav-tabs tabs-custom" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link no-border-radius active" id="object-repositories-tab"
                                                            data-toggle="tab" href="#object-repositories" role="tab"
                                                            aria-controls="object-repositories" aria-selected="false">
                                                            <span class="flaticon-cursor"></span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link no-border-radius" id="test-data-tab"
                                                            data-toggle="tab" href="#test-data" role="tab"
                                                            aria-controls="test-data" aria-selected="false">
                                                            <span class="flaticon-folder"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div id="container-tab-content">
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="object-repositories" role="tabpanel"
                                                        aria-labelledby="object-repositories-tab">
                                                        <button class="btn btn-outline-dark btn-import-objrepo" type="button"
                                                            data-toggle="collapse" data-target="#collapseImportObjRepo"
                                                            aria-expanded="false" aria-controls="collapseImportObjRepo">
                                                            <span class="fas fa-file"></span>
                                                        </button>
                                                        <div class="collapse" id="collapseImportObjRepo">
                                                            <fieldset class="group-border import-group">
                                                                <div class="space-10"></div>
                                                                <legend class="group-border m-0">Import</legend>
                                                                <div class="form-group">
                                                                    <div class="row">
                                                                        <div class="col-sm-4">File Import (*.yml file)</div>
                                                                        <div class="col-sm-8"><input type="file" accept=".yml"
                                                                                id="fileImportObjectRepo"></div>
                                                                    </div>
                                                                    <div class="space-10"></div>
                                                                    <button type="submit" id="submitFormObjectRepo"
                                                                        class="btn btn-info">Submit</button>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                        <div class="space-10"></div>
                                                        <h4 class="title-of-tab m-0">object repositories</h4>
                                                        <div class="space-10"></div>
                                                        <div id="object-repositories-content"></div>
                                                    </div>
                                                    <div class="tab-pane" id="test-data" role="tabpanel"
                                                        aria-labelledby="test-data-tab">
                                                        <div class="space-10"></div>
                                                        <h4 class="title-of-tab m-0">test data</h4>
                                                        <div class="space-10"></div>
                                                        <div id="test-data-content"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space-20"></div>
                                    </div>
                                </div>
                                {{!-- ***************************end panel data of
                                config******************************** --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{#contentFor "pageScripts"}}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        }); 
    </script>
    <script src="{{furl '/plugins/codemirror/codemirror.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/display/autorefresh.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/display/fullscreen.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/display/placeholder.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/search/search.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/search/searchcursor.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/search/jump-to-line.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/dialog/dialog.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/scroll/simplescrollbars.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/mode/powershell/powershell.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/mode/javascript/javascript.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/mode/gherkin/gherkin.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/hint/show-hint.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/fuzzy-search/fuse.min.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/jquery-ui/jquery-ui.custom.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/autocomplete/jquery.auto-complete.min.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/sortable/sortable.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/matchheight/jquery.matchHeight-min.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/moment/moment.min.js'}}"></script>
    <script src="{{furl '/js/testcase_management.js'}}" type="text/javascript"></script>
    <script src="{{furl '/js/configuration_services.js'}}" type="text/javascript"></script>
    <script src="{{furl '/js/crud-global-data.js'}}" type="text/javascript"></script>
    <script src="{{furl '/js/automation_testcase.js'}}" type="text/javascript"></script>

    {{/contentFor}}