{{#contentFor "pageStyles"}}
<link rel="stylesheet" href="{{furl '/plugins/codemirror/codemirror.css'}}" type="text/css"/>
<link rel="stylesheet" href="{{furl '/plugins/codemirror/theme/base16-light.css'}}" type="text/css"/>
<link rel="stylesheet" href="{{furl '/plugins/codemirror/theme/eclipse.css'}}" type="text/css"/>
<link rel="stylesheet" href="{{furl '/plugins/codemirror/display/fullscreen.css'}}" type="text/css"/>
<link rel="stylesheet" href="{{furl '/plugins/codemirror/dialog/dialog.css'}}" type="text/css"/>
<link rel="stylesheet" href="/css/icon/config-font/flaticon.css" type="text/css" />
<link rel="stylesheet" href="/css/configuration.css" type="text/css" /> 
<link rel="stylesheet" href="/css/automation_configuration_panel.css" type="text/css" /> 
{{/contentFor}} 
{{!< layout}}

<div id="config-panel">
    <div class="tab-title">
        <button class="btn btn-link" id="refreshConfiguration">
            <span class="fas fa-sync-alt"></span>
        </button>
        <ul class="nav nav-tabs tabs-custom">
            <li class="nav-item">
                <a class="nav-link no-border-radius active" id="parameters-tab" data-toggle="tab" href="#parameters" role="tab" aria-controls="parameters"
                    aria-selected="true">
                    <span class="flaticon-input"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link no-border-radius" id="object-repositories-tab" data-toggle="tab" href="#object-repositories" role="tab"
                    aria-controls="object-repositories" aria-selected="false">
                    <span class="flaticon-cursor"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link no-border-radius" id="test-data-tab" data-toggle="tab" href="#test-data" role="tab" aria-controls="test-data"
                    aria-selected="false">
                    <span class="flaticon-folder"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link no-border-radius" id="steps-definition-tab" data-toggle="tab" href="#steps-definition" role="tab" aria-controls="steps-definition"
                    aria-selected="false">
                    <span class="flaticon-stairs"></span>
                </a>
            </li>
        </ul>
    </div>
    <div id="container-tab-content">
        <div class="tab-content">
            <div class="tab-pane active" id="parameters" role="tabpanel" aria-labelledby="parameters-tab">
                <h4 class="title-of-tab">parameters</h4>
                <div id="parameter-content"></div>
            </div>
            <div class="tab-pane" id="object-repositories" role="tabpanel" aria-labelledby="object-repositories-tab">
                <h4 class="title-of-tab">object repositories</h4>
                <div id="object-repositories-content"></div>
            </div>
            <div class="tab-pane" id="test-data" role="tabpanel" aria-labelledby="test-data-tab">
                <h4 class="title-of-tab">test data</h4>
                <div id="test-data-content"></div>
            </div>
            <div class="tab-pane" id="steps-definition" role="tabpanel" aria-labelledby="steps-definition-tab">
                <h4 class="title-of-tab">Steps Definition</h4>
                <div id="steps-definition-content"></div>
            </div>
        </div>
    </div>
</div>
    {{#contentFor "pageScripts"}}
    <script src="{{furl '/plugins/codemirror/codemirror.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/display/autorefresh.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/display/fullscreen.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/display/placeholder.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/search/search.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/search/searchcursor.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/search/jump-to-line.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/dialog/dialog.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/scroll/simplescrollbars.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/mode/powershell/powershell.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/mode/sql/sql.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/mode/javascript/javascript.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/mode/gherkin/gherkin.js'}}"></script>
    <script src="{{furl '/plugins/mustache/mustache.min.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/fuzzy-search/fuse.min.js'}}" type="text/javascript"></script>
    <script src="{{furl '/js/configuration_services.js'}}" type="text/javascript"></script> 
    <script src="{{furl '/js/automation_configuration_panel.js'}}" type="text/javascript"></script> 
    {{/contentFor}}