{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="/css/icon/config-font/flaticon.css" type="text/css" />
  <link rel="stylesheet" href="{{furl '/css/automation_testcase_panel_execution.css'}}" type="text/css" />
  <link rel="stylesheet" href="{{furl '/css/all.css'}}" type="text/css" />
{{/contentFor}}

{{!< layout}}

<table class="table table-striped table-bordered" id="manual_testcase_execution_panel">
    <thead>
        <tr>
            <th>Version</th>
            <th>Test Cycle</th>
            <th>Status</th>
            <th>Defects</th>
            <th>Executed By</th>
            <th>Executed On</th>
            <th>
                <button class="btn btn-link" id="refresh-data">
                    <span class="fas fa-sync-alt fa-spin"></span>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<!-- popup show log -->
<div class="modal modal-showlog fade ifdModal" id="modal-show-log" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Log</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0" style="border-radius: 0 0 4px 4px; overflow: hidden;">
                <textarea id="txt-show-log"></textarea>
            </div>
        </div>
    </div>
</div>

<!-- popup automation execution -->
<div class="modal modal-exec-info fade ifdModal modal-testcase-execution" id="modal-exec-info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Execution Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="check-input">
                    <input type="radio" name="browser" value="chrome" checked="checked"> Chrome
                </div>
                <div class="check-input">
                    <input type="radio" name="browser" value="firefox"> Firefox
                </div>
                <div class="option-wait-time">
                    <span>
                        Wait Time: 
                        <input type="number" style="width: 40px;" name="wait_time" id="wait_time" onkeypress="return isNumberKey(event)" value="10"/>
                    </span>
                </div>
                <div class="option-print-logs">
                    <span>
                        Print Logs 
                        <select id="print_logs">
                            <option selected="selected" value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custom-1" id="exec_debug">Yes</button>
                <button type="button" class="btn btn-custom-1" id="cancel-exec-debug">No</button>
            </div>
        </div>
    </div>
</div>

{{!-- modal confirm stop --}}
<div class="modal fade ifdModal modal-testcase-execution" id="modalConfirmStop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
    <div class="modal-dialog" role="document"> 
        <div class="modal-content"> 
            <div class="modal-header"> 
                <h5 class="modal-title">Delete issue</h5> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
                    <span aria-hidden="true">&times;</span> 
                </button> 
            </div> 
            <div class="modal-body"> 
 
            </div> 
            <div class="modal-footer"> 
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button> 
                <button type="button" class="btn btn-primary" id="stopSure">Yes</button> 
            </div> 
        </div> 
    </div> 
</div> 


{{#contentFor "pageScripts"}}
    <script src="{{furl '/plugins/moment/moment.min.js'}}"></script>
    <script src="{{furl '/js/automation_testcase_execution_panel.js'}}" type="text/javascript"></script>
{{/contentFor}}