{{#contentFor "pageStyles"}}
    <link rel="stylesheet" href="{{furl '/plugins/selectpicker/css/bootstrap-select.css'}}" type="text/css" />
    <link rel="stylesheet" href="{{furl '/plugins/codemirror/codemirror.css'}}" type="text/css"/>
    <link rel="stylesheet" href="{{furl '/plugins/codemirror/theme/base16-light.css'}}" type="text/css"/>
    <link rel="stylesheet" href="{{furl '/plugins/codemirror/theme/eclipse.css'}}" type="text/css"/>
    <link rel="stylesheet" href="{{furl '/plugins/codemirror/display/fullscreen.css'}}" type="text/css"/>
    <link rel="stylesheet" href="{{furl '/plugins/codemirror/dialog/dialog.css'}}" type="text/css"/>
    <link rel="stylesheet" href="{{furl '/plugins/codemirror/hint/show-hint.css'}}" type="text/css" />
    <link rel="stylesheet" href="{{furl '/plugins/autocomplete/jquery.auto-complete.css'}}" type="text/css" />
    <link rel="stylesheet" href="{{furl '/css/automation_execution.css'}}" type="text/css" />
    <link rel="stylesheet" href="{{furl '/css/all.css'}}" type="text/css" />
{{/contentFor}}

{{!< layout}}

<header class="m-0">
    <nav class="navbar navbar-dark bg-light">
        <img alt="Atlassian logo" src="images/logo.png">
        <h1 class="text-uppercase">{{title}}</h1>
        <span style="flex: 1 0 auto"></span>
    </nav>
</header>
<nav class="breadcrumb">
  <a class="breadcrumb-item" target="_parent" id="projectKey"></a>
  <a class="breadcrumb-item" href="#" id="cycleName"></a>
  <span class="breadcrumb-item" id="issueKey"></span>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <fieldset class="group-border">
                <legend class="group-border">Automation</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" id="add_defect">
                            <label for="Defects">Defects</label>
                            <div class="w_add_defect_main">
                                <div class="position-relative">
                                    <input type="text" class="form-control" id="_searchMainDefect" placeholder="Issues search" onkeyup="onKeyUpOfSearchMainDefect()">
                                    <input type="text" class="form-control" id="searchMainDefect">
                                    <canvas id="tempCanvas" width="300" height="150" style="display:none"></canvas>
                                    <button type="button" id="addNewIssue"><span class="fa fa-plus-circle"></span></button>
                                </div>
                                <ul class="list-inline">
                                    <li class="list-inline-item search-issue" style="width: 88px">
                                        
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select class="form-control" id="drpStatus" data-style="btn btn-outline-secondary" data-width="100%" class="selectpicker">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Comment">Comment</label>
                    <textarea  class="form-control" id="comment" rows="3" placeholder="Enter Your Comment"></textarea>
                </div>
            </fieldset>
            <fieldset class="group-border button-debug">
                <legend class="group-border"><span style="font-size: 14px; vertical-align: -1px;" class="oi" data-glyph="play-circle"></span> Test</legend>
                <div class="row">
                    <div class="col-md-3" style="position:relative">
                        <button type="button" class="btn btn-primary btn-block debug_btn" action_type="execute" title="Execute"><span>Execute</span></button>
                    </div>
                    <div class="col-md-3"><button type="button" class="btn btn-primary btn-block debug_btn" action_type="status" title="Get Status"><span>Status</span></button></div>
                    <div class="col-md-3"><button type="button" class="btn btn-primary btn-block debug_btn" action_type="log" title="Get Log"</button><span>Report</span></button></div>
                    <div class="col-md-3" style="position: relative;">
                        <button type="button" class="btn btn-primary btn-block debug_btn" action_type="stop" title="Stop" data-toggle="modal" data-target="#modalConfirmStop"><span>Stop</span></button>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-7">
            <fieldset class="group-border scenario" style="">
                <legend class="group-border">Scenario</legend>
                <textarea  class="form-control" rows="3" id="scenario" placeholder="Enter Scenario"></textarea>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <fieldset class="group-border">
                <legend class="group-border">
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExecution" aria-expanded="false" aria-controls="collapseExecution">
                        <span class="oi" data-glyph="bug"></span>&nbsp;Automation Execution History
                    </button>
                </legend>
                <div class="collapse" id="collapseExecution">
                    <div class="row">
                        <table class="table table-striped table-bordered table-responsive" cellpadding="0" cellspacing="0" border="0" class="display" id="automation-execution-history-table" width="100%">
                            <thead>
                                <tr>
                                    <th>Field Name</th>
                                    <th>Original Value</th>
                                    <th>New Value</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<!-- popup show log -->
<div class="modal modal-showlog fade ifdModal" id="modal-show-report" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Automation Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="top-report">
                    <p><strong>Feature Name: </strong><span class="feature-name"></span></p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseDetail" aria-expanded="false" aria-controls="collapseDetail">
                        ...
                    </button>
                </div>
                <div class="left-chart">
                    <div class="chart-report">
                        <canvas id="doughnutChart"></canvas>
                    </div>
                </div>
                <div class="center-chart">
                    <ul>
                        <li>
                            <p class="fails_count number-count"></p>
                            <p>Fail</p>
                        </li>
                        <li>
                            <p class="success_count number-count"></p>
                            <p>Success</p>
                        </li>
                        <li>
                            <p class="errors_count number-count"></p>
                            <p>Error</p>
                        </li>
                        <li>
                            <p class="skips_count number-count"></p>
                            <p>Skip</p>
                        </li>
                    </ul>
                </div>
                <div class="right-chart">
                    <p><strong>Scenarios Count: </strong><span class="scenarios_count"></span></p>
                    <p><strong>Elapsed Time: </strong><span class="elapsed_count"></span> second</p>
                </div>
                <div class="collapse" id="collapseDetail">
                    <div class="detail-chart">
                        <p><strong>Detail:</strong></p>
                        <table>
                            <thead>
                                <tr>
                                    <td><strong>Name </strong></td>
                                    <td><strong>Result </strong></td>
                                    <td><strong>Error Detail </strong></td>
                                    <td><strong>Time </strong></td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- popup automation execution -->
<div class="modal modal-exec-info fade ifdModal modal-testcase-execution" id="modal-exec-info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Execution Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="check-input">
                    <input type="radio" name="browser" value="chrome" checked="checked"> Chrome
                </div>
                <div class="check-input">
                    <input type="radio" name="browser" value="firefox"> Firefox
                </div>
                <div class="option-wait-time">
                    <span>
                        Wait Time:
                        <input type="number" style="width: 40px;" name="wait_time" id="wait_time" onkeypress="return isNumberKey(event)" value="10"/>
                    </span>
                </div>
                <div class="option-print-logs">
                    <span>
                        Print Logs
                        <select id="print_logs">
                            <option selected="selected" value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custom-1" id="exec_test"><span>Yes</span></button>
                <button type="button" class="btn btn-custom-1" id="cancel-exec-test"><span>No</span></button>
            </div>
        </div>
    </div>
</div>

{{!-- modal stop --}}
<div class="modal fade ifdModal modal-testcase-execution" id="modalConfirmStop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
    <div class="modal-dialog" role="document"> 
        <div class="modal-content"> 
            <div class="modal-header"> 
                <h5 class="modal-title">Stop</h5> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
                    <span aria-hidden="true">&times;</span> 
                </button> 
            </div> 
            <div class="modal-body"> 
 
            </div> 
            <div class="modal-footer"> 
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><span>No</span></button> 
                <button type="button" class="btn btn-primary" id="stopSure"><span>Yes</span></button> 
            </div> 
        </div> 
    </div> 
</div> 

{{#contentFor "pageScripts"}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="{{furl '/plugins/codemirror/codemirror.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/display/autorefresh.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/display/fullscreen.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/display/placeholder.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/search/search.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/search/searchcursor.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/search/jump-to-line.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/dialog/dialog.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/mode/gherkin/gherkin.js'}}"></script>
    <script src="{{furl '/plugins/codemirror/hint/show-hint.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/autocomplete/jquery.auto-complete.min.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/mustache/mustache.min.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/selectpicker/js/bootstrap-select.js'}}" type="text/javascript"></script>
    <script src="{{furl '/js/automation_execution.js'}}" type="text/javascript"></script>
{{/contentFor}}
