<script src="{{furl '/plugins/jquery-3.2.1/jquery-3.2.1.min.js'}}"></script>
<script src="{{hostScriptUrl}}" type="text/javascript"></script>
<script src="{{furl '/js/common/request.js'}}"></script>
<script src="{{furl '/plugins/lodash/lodash.js'}}"></script>
<script src="{{furl '/js/common/constants.js'}}"></script>
<script src="{{furl '/js/common/initIFDRequest.js'}}"></script>
<script src="{{furl '/js/common/common.js'}}"></script>
<input id="projectID" type="hidden" value="{{projectId}}" />
<script>
    var params = getQueryParams(document.location.search);
    var lodash = _;
    var projectId = params["projectId"];
    AP.request({
        url: '/rest/api/2/project/' + projectId,
        type: 'GET',
        contentType: 'application/json',
        success: function (response) {
            response = JSON.parse(response);
            var objIssue = lodash.find(response.issueTypes, function (obj) {
                return obj.name == "AUTO-TEST";
            });
            if (typeof objIssue != 'undefined') {
                auto_issue_type_id = objIssue.id;
            } else {
                auto_issue_type_id = 1;
            }
            AP.jira.openCreateIssueDialog(function (issues) {
                var issuesTypeName = issues[0].fields.issuetype.name;
                var project_id = $('#projectID').val();
                switch (issuesTypeName) {
                    case 'MANUAL-TEST':
                        var params = {
                            "JIRAticket_id": issues[0].id,
                            "JIRAticket_key": issues[0].key,
                            "JIRAticket_title": issues[0].fields.summary,
                            "project_id": project_id,
                            "type_id": 1
                        }
                        createIssueFromJira(params).done();
                        break;
                    case 'AUTO-TEST':
                        var params = {
                            "JIRAticket_id": issues[0].id,
                            "JIRAticket_key": issues[0].key,
                            "JIRAticket_title": issues[0].fields.summary,
                            "project_id": project_id,
                            "type_id": 2
                        }
                        createIssueFromJira(params).done();
                        break;
                    default:
                        createIssueFromJira(params).done();
                        break;
                }

            }, {
                    pid: projectId,
                    issueType: auto_issue_type_id
                });
        }
    });
</script>