{{#contentFor "pageStyles"}}
    <link rel="stylesheet" href="{{furl '/css/all.css'}}" type="text/css" />
    <link rel="stylesheet" href="{{furl '/css/dashboard.css'}}" type="text/css" />
    <link rel="stylesheet" href="{{furl '/plugins/autocomplete/jquery.auto-complete.css'}}" type="text/css"/>
    <link rel="stylesheet" href="{{furl '/plugins/selectpicker/css/bootstrap-select.css'}}" type="text/css" />
    <link rel="stylesheet" href="{{furl '/plugins/datetimepicker/css/bootstrap-datepicker.css'}}" type="text/css"/>
    <link rel="stylesheet" href="{{furl '/plugins/datetimepicker/css/bootstrap-datetimepicker.css'}}" type="text/css"/>
{{/contentFor}}
{{!< layout}}

    <header>
        <nav class="navbar navbar-dark bg-light">
            <img alt="Atlassian logo" src="/images/logo.png">
            <h1>{{title}}</h1>
            <span style="flex: 1 0 auto"></span>
            {{!-- <ul class="nav nav-pills float-right" id="tmsTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="summary-tab" data-toggle="tab" href="#tabs-summary" role="tab" aria-controls="tabs-summary"
                        aria-expanded="true">
                        <span class="oi" data-glyph="excerpt"></span> Test Summary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="cycles-tab" data-toggle="tab" href="#tabs-test-cycle" role="tab" aria-controls="tabs-test-cycle"
                        aria-expanded="true"><span class="oi" data-glyph="loop-circular"></span> Test Cycles</a>
                </li>
            </ul> --}}
        </nav>
    </header>
    <div class="tab-container">
        <div class="tab-content">
            <div class="tab-pane fade" id="tabs-summary" role="tabpanel" aria-labelledby="tabs-summary">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="header-panel clearfix">
                                <h2 class="float-left">Test Summary</h2>
                            </div>
                            <p>TBD</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show active" id="tabs-test-cycle" role="tabpanel" aria-labelledby="tabs-test-cycle">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="clearfix header-panel">
                                <h2 class="float-left">Test Cycles</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-responsive" cellpadding="0" cellspacing="0" border="0"  id="sprint-table"
                    width="100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Environment</th>
                            <th>Version</th>
                            <th>Build</th>
                            <th>Created By</th>
                            <th>Modified By</th>
                            <th>Created date</th>
                            <th>Status</th>
                            <th>
                                <!-- Create a trigger which will be used by the JavaScript -->
                                <button id="dialog-show-button" data-toggle="modal" data-target="#newcycle-dialog" class="btn btn-primary float-right" data-placement="left" data-toggle="tooltip" title="Create test cycle">
                                    <span class="oi" data-glyph="plus"></span>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<!-- Render the dialog -->
<div class="modal fade ifdModal" data-backdrop="static" id="newcycle-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="lblCreateCycle" class="modal-title">Create New Test Cycle</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="lblErrorCreated"></div>
        <form id="newCycle" class="aui">
            <input id="cycleId" name="cycleId" type="hidden" value="" />
            <div class="form-group">
                <label for="comment-name">Test Cycle Version</label>
                {{!-- <span class="aui-icon icon-required">(required)</span> --}}
                <select title="Select version" name="jiraversion" id="project_version" class="selectpicker" data-style="btn btn-outline-secondary" data-width="100%">
                </select>
            </div>
            <div class="form-group">
                <label for="comment-name">Test Cycle Name</label>
                {{!-- <span class="aui-icon icon-required">(required)</span> --}}
                <input required maxlength="255" class="form-control" type="text" id="cycle-name" name="name-input" placeholder="Test Cycle Name">
            </div>
            <div class="form-group">
                <label for="comment-input">Description</label>
                <textarea class="form-control" maxlength="255" name="description-input" id="cycle-description" placeholder="Test Cycle Description" rows="2"></textarea>
            </div>
            <div class="form-group">
                <label for="build">Build</label>
                <input class="form-control" type="text" maxlength="255" id="build" name="build-input" placeholder="Build">
            </div>
             <div class="form-group">
                <label for="environment">Environment</label>
                <input class="form-control" type="text" maxlength="255" id="environment" name="environment-input" placeholder="Environment">
            </div>
            <div class="row input-daterange">
                <div class="col-md-6">
                   <label>Start Date</label>
                    <input required name="start"  class="form-control datetime startDate" name="startDate" id="start-date" type="text" max="2025-01-25" min="2011-12-25" />
                </div>
                <div class="col-md-6">
                    <label>End Date</label>
                    <input required name="end" class="form-control datetime endDate" name="endDate" id="end-date" type="text" max="2025-01-25" min="2011-12-25" />
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="dialog-submit-button-cancel" data-dismiss="modal">Cancel</button>
        <button type="button" id="dialog-submit-button"  class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- popup Add Issue -->
<div class="modal fade ifdModal" data-backdrop="static" id="add-issue-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create New Issue</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addIssue" class="aui">
                    <div class="form-group m-0">
                        <label >Cycle name: <span id="frmAdd-issue-dialog_cycle-name" class="font-weight-bold"></span></label>
                        <input id="hddSelectedIssueId" type="hidden" value="">
                    </div>
                    <div class="form-group m-0">
                        <input class="form-control" type="text" id="issue-name" name="name-input" placeholder="Search issues">
                    </div>
                </form>
                <div id="selected-issues"></div>
                <div id="errorAddIssues" class="error m-0"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="dialog-issue-button-cancel" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="dialog-issue-button"  class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- popup delete cycle -->
<div class="modal modal-delete fade ifdModal" data-backdrop="static" id="delete-cycle-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete cycle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group m-0">
                    <p class="mute m-0" style="display:flex; align-items: center">
                        <span class="oi" data-glyph="warning" style="font-size: 25px; display: inline-block; margin-top: -3px; height: 28px; margin-right: 10px;"></span> Are you sure to delete &nbsp;<span class="font-weight-bold" id="lblCycleNameToDelete"></span>?
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="dialog-no-button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">No</button>
                <button type="button" id="dialog-delete-button"  class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>

<!-- popup confirm delete cycle_issues -->
<div class="modal modal-delete fade ifdModal" data-backdrop="static" id="delete-cycle-issue-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete issue</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group m-0">
                    <p class="mute m-0" style="display:flex; align-items: center">
                        <span class="oi" data-glyph="warning" style="font-size: 25px; display: inline-block; margin-top: -3px; height: 28px; margin-right: 10px;"></span> Are you sure to delete &nbsp;<span class="font-weight-bold" id="lblCycleIssueNameToDelete"></span>?
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="dialog-no-cycleIssue-button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">No</button>
                <button type="button" id="dialog-delete-cycleIssue-button"  class="btn btn-primary">Yes</button>
            </div>
        </div>
    </div>
</div>

{{#contentFor "pageScripts"}}
<script src="{{furl '/plugins/autocomplete/jquery.auto-complete.min.js'}}"></script>
<script src="{{furl '/plugins/selectpicker/js/bootstrap-select.js'}}" type="text/javascript"></script>
<script src="{{furl '/plugins/moment/moment.min.js'}}"></script>
<script src="{{furl '/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js'}}"></script>
<script src="{{furl '/js/dashboard.js'}}"></script>

<script>
    $(document).ready(function(){
        /*$('.input-daterange').datepicker({
            format: 'dd/mm/yyyy',
        });*/
        var firstLoad = true;
        $('.datetime').datetimepicker({
            format: 'DD/MM/YYYY',
            icons: {
                previous: 'fa fa-angle-double-left',
                next: 'fa fa-angle-double-right',
            }
        });

        $('.endDate').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $(".startDate").on("dp.hide", function (e) {
            $('.endDate').data("DateTimePicker").minDate(e.date);
        });
        /*$(".endDate").on("dp.hide", function (e) {
            $('.startDate').data("DateTimePicker").maxDate(e.date);
        });*/

        $("form").validate({
            highlight: function ( element, errorClass, validClass ) {
                $( element ).addClass( "is-invalid" ).removeClass( "is-valid" );
            },
            unhighlight: function(element, errorClass, validClass){
                $( element ).removeClass( "is-invalid" );
            }
        });        
    });
</script>
{{/contentFor}}
