{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="{{furl '/css/dialog_add_issue_to_testcycle.css'}}" type="text/css" /> 
{{/contentFor}} 
{{!< layout}} 
<div class="container-fluid-custom">
  <div class="dialog-header">
    <h5 class="dialog-title">Add to Test Cycle</h5>
  </div>  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
        </div>
        <div class="form-group">
          <label for="pwd">Test Cycle:</label>
            <select disabled id="project_cycle" class="form-control">
                <optgroup id="selectCycle" label="Select Test Cycle"></optgroup>
                <option> loading ... </option>
            </select>
        </div>
        <div class="form-group">
          <label for="Assigned_to">Assigned to</label>
          <select disabled id="project_user" class="form-control">
            <option> loading ... </option>
          </select>
        </div>
        <div class="m-0 form-group">
          <button type="button" id="add-test-cycle" disabled class="btn btn-primary">Add</button>
          <button type="cancel" id="cancel-test-cycle" class="btn btn-default">Cancel</button>
        </div>
        <label class="m-0 error" id="error"></label>
      </div>
    </div>
  </div>
</div>

  {{#contentFor "pageScripts"}}
    <script src="{{furl '/js/dialog-add-issue-to-cycle.js'}}"></script>
  {{/contentFor}}