{{#contentFor "pageStyles"}}
    <link rel="stylesheet" href="{{furl '/css/importer.css'}}" type="text/css" />
{{/contentFor}}
{{!< layout}}
<div id="body-loading-bar" style="display: none;">
    <div class="progress-bar bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        <div class="text-importing">Importing...</div>
        <div class="progress-bar-striped"></div>
    </div>
</div>
<div class="modal fade" id="modalImportSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
    <div class="modal-dialog" role="document"> 
        <div class="modal-content"> 
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
                    <span aria-hidden="true">&times;</span> 
                </button> 
            </div> 
            <div class="modal-body"> 
                <div class="table-importer">
                    <fieldset class="group-border import-group">
                        <legend>Import Success</legend>
                        <div style="max-height: 400px; overflow:auto">
                            <table>
                                <tr>
                                    <td>Test Case Name</td>
                                    <td>Test Step</td>
                                    <td>Test Data</td>
                                    <td>Expected Result</td>
                                </tr>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div> 
    </div> 
</div> 
<header>
    <nav class="navbar navbar-dark bg-light">
        <img alt="INFOdation" src="/images/logo.png">
        <h1>ITMS Importer</h1>
    </nav>
    <a href="#" title="Back To Dashboard" class="back-to-dashboard">&laquo; Back To Dashboard</a>
</header>
<div class="importer-panel">
    <div class="content-importer-panel">
        <a href="/SampleExcelTestSheet_ITMS.xlsx" title="Download Example Excel File" class="download-example-excel" download><span class="fa fa-download"></span> Download Sample Excel TestSheet ITMS</a>
        <ul class="nav nav-tabs" id="tabsImporter" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="manual-tab" data-toggle="tab" href="#manualImporter" role="tab" aria-controls="manualImporter" aria-selected="true">Manual</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="automation-tab" data-toggle="tab" href="#automationImporter" role="tab" aria-controls="automationImporter" aria-selected="false">Automation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="steps-definition-tab" data-toggle="tab" href="#stepsDefinition" role="tab" aria-controls="stepsDefinition" aria-selected="false">Steps Definition</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="global-data-tab" data-toggle="tab" href="#globalData" role="tab" aria-controls="globalData" aria-selected="false">Global Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="object-repo-tab" data-toggle="tab" href="#objectRepo" role="tab" aria-controls="objectRepo" aria-selected="false">Object Repo</a>
            </li>
        </ul>
        <div class="tab-content" id="tabsContent">
            <div class="tab-pane fade show active" id="manualImporter" role="tabpanel" aria-labelledby="manual-tab">
                <div class="row">
                    <div class="col-sm-6">
                        <fieldset class="group-border import-group">
                            <legend>Import</legend>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">File Import</div>
                                    <div class="col-sm-8"><input type="file" accept=".xlsx" id="fileImport" name="fileImports"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">Sheet Name</div>
                                    <div class="col-sm-8"><input type="text" id="sheetName" name="sheetNames" placeholder="Sheet Name..."></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">Excel Column Testcase Name</div>
                                    <div class="col-sm-8"><input placeholder="Excel Column Testcase Name..." type="text" id="testCaseName" name="testCaseNames"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">Excel Column Ticket Key</div>
                                    <div class="col-sm-8"><input placeholder="Excel Column Ticket Key..." type="text" id="jiraTicketKey" name="jiraTicketKeys"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">Excel Column Test Step</div>
                                    <div class="col-sm-8"><input placeholder="Excel Column Test Step..." type="text" id="testStep" name="testSteps"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">Excel Column Test Data</div>
                                    <div class="col-sm-8"><input placeholder="Excel Column Test Data..." type="text" id="testData" name="testDatas"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">Excel Column Excepted Result</div>
                                    <div class="col-sm-8"><input placeholder="Excel Column Excepted Result..." type="text" id="exceptedResult" name="exceptedResults"></div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-6">
                        <fieldset class="group-border jira-group">
                            <legend>Jira Site</legend>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">Jira Site</div>
                                    <div class="col-sm-8"><input type="text" class="jiraSite" name="jiraSites" readonly></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">User Name</div>
                                    <div class="col-sm-8"><input placeholder="User Name..." type="text" id="userName" name="userNames"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">Password</div>
                                    <div class="col-sm-8"><input placeholder="Password..." type="password" id="password" name="passwords"></div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <button type="submit" id="submitFormManual">Submit</button>
            </div>
            <div class="tab-pane fade" id="automationImporter" role="tabpanel" aria-labelledby="automation-tab">
                <div class="row">
                    <div class="col-sm-6">
                        <fieldset class="group-border import-group">
                            <legend>Import</legend>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">File Import</div>
                                    <div class="col-sm-8"><input type="file" accept=".xlsx" id="fileImportAuto" name="fileImportAuto"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">Sheet Name</div>
                                    <div class="col-sm-8"><input type="text" id="sheetNameAuto" name="sheetNameAuto" placeholder="Sheet Name..."></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">Excel Column Feature</div>
                                    <div class="col-sm-8"><input placeholder="Excel Column Feature..." type="text" id="featureAuto" name="featureAuto"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">Excel Column Ticket Key</div>
                                    <div class="col-sm-8"><input placeholder="Excel Column Ticket Key..." type="text" id="jiraTicketKeyAuto" name="jiraTicketKeyAuto"></div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-6">
                        <fieldset class="group-border jira-group">
                            <legend>Jira Site</legend>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">Jira Site</div>
                                    <div class="col-sm-8"><input type="text" class="jiraSite" name="jiraSites" readonly></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">User Name</div>
                                    <div class="col-sm-8"><input placeholder="User Name..." type="text" id="userNameAuto" name="userNameAuto"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">Password</div>
                                    <div class="col-sm-8"><input placeholder="Password..." type="password" id="passwordAuto" name="passwordAuto"></div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <button type="submit" id="submitFormAuto">Submit</button>
            </div>
            <div class="tab-pane fade" id="stepsDefinition" role="tabpanel" aria-labelledby="steps-definition-tab">
                <div class="row">
                    <div class="col-sm-6">
                        <fieldset class="group-border import-group">
                            <legend>Import</legend>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">File Import</div>
                                    <div class="col-sm-8"><input type="file" accept=".xlsx" id="fileImportStepsDefinition" name="fileImportStepsDefinition"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">Sheet Name</div>
                                    <div class="col-sm-8"><input type="text" id="sheetNameStepsDefinition" name="sheetNameStepsDefinition" placeholder="Sheet Name..."></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">Excel Column Name</div>
                                    <div class="col-sm-8"><input placeholder="Excel Column Name..." type="text" id="nameStepsDefinition" name="nameStepsDefinition"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">Excel Column Content</div>
                                    <div class="col-sm-8"><input placeholder="Excel Column Content..." type="text" id="contentStepsDefinition" name="contentStepsDefinition"></div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <button type="submit" id="submitFormStepsDefinition">Submit</button>
            </div>
            <div class="tab-pane fade" id="globalData" role="tabpanel" aria-labelledby="global-data-tab">
                <div class="row">
                    <div class="col-sm-6">
                        <fieldset class="group-border import-group">
                            <legend>Import</legend>
                            <div class="select-file-import">
                                <div class="check-input">
                                    <input id="excelFileGlobal" value="ExcelFile" type="radio" name="importfileGlobal" class="excelfile" checked="checked">
                                    <label for="excelFileGlobal">Excel File</label>
                                </div>
                                <div class="check-input">
                                    <input id="ymlFileGlobal" value="YMLFile" type="radio" name="importfileGlobal" class="ymlfile">
                                    <label for="ymlFileGlobal">YML File</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">File Import</div>
                                    <div class="col-sm-8"><input type="file" accept=".xlsx" id="fileImportGlobalData" name="fileImportGlobalData"></div>
                                </div>
                            </div>
                            <div class="importer-excel-file">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">Sheet Name</div>
                                        <div class="col-sm-8"><input type="text" id="sheetNameGlobalData" name="sheetNameGlobalData" placeholder="Sheet Name..."></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">Excel Column Name</div>
                                        <div class="col-sm-8"><input placeholder="Excel Column Name..." type="text" id="nameGlobalData" name="nameGlobalData"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">Excel Column Content</div>
                                        <div class="col-sm-8"><input placeholder="Excel Column Content..." type="text" id="contentGlobalData" name="contentGlobalData"></div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <button type="submit" id="submitFormGlobalData">Submit</button>
            </div>
            <div class="tab-pane fade" id="objectRepo" role="tabpanel" aria-labelledby="object-repo-tab">
                <div class="row">
                    <div class="col-sm-6">
                        <fieldset class="group-border import-group">
                            <legend>Import</legend>
                            <div class="select-file-import">
                                <div class="check-input">
                                    <input id="excelFileObj" value="ExcelFile" type="radio" name="importfileObj" class="excelfile" checked="checked">
                                    <label for="excelFileObj">Excel File</label>
                                </div>
                                <div class="check-input">
                                    <input id="ymlFileObj" value="YMLFile" type="radio" name="importfileObj" class="ymlfile">
                                    <label for="ymlFileObj">YML File</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-4">File Import</div>
                                    <div class="col-sm-8"><input type="file" accept=".xlsx" id="fileImportObjectRepo" name="fileImportObjectRepo"></div>
                                </div>
                            </div>
                            <div class="importer-excel-file">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">Sheet Name</div>
                                        <div class="col-sm-8"><input type="text" id="sheetNameObjectRepo" name="sheetNameObjectRepo" placeholder="Sheet Name..."></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">Excel Column Name</div>
                                        <div class="col-sm-8"><input placeholder="Excel Column Name..." type="text" id="nameObjectRepo" name="nameObjectRepo"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">Excel Column Content</div>
                                        <div class="col-sm-8"><input placeholder="Excel Column Content..." type="text" id="contentObjectRepo" name="contentObjectRepo"></div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <button type="submit" id="submitFormObjectRepo">Submit</button>
            </div>
        </div>
    </div>
</div>

{{#contentFor "pageScripts"}}
<script src="{{furl '/js/importer.js'}}"></script>
{{/contentFor}}