<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <title>{{title}}</title>

  <link rel="stylesheet" href="{{furl '/plugins/bootstrap/bootstrap.min.css'}}" type="text/css" />
  <link rel="stylesheet" href="{{furl '/plugins/datatables/dataTables.bootstrap4.min.css'}}" type="text/css" />

  <!-- fonts and Icon -->
  <link rel="stylesheet" href="{{furl '/css/icon/open-iconic.min.css'}}" type="text/css" />
  <link rel="stylesheet" href="{{furl '/plugins/animate/animate.css'}}" type="text/css" />
  <link rel="stylesheet" href="{{furl '/css/addon.css'}}" type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" type="text/css"/> 

  {{{block "pageStyles"}}}

  <script src="{{furl '/plugins/jquery-3.2.1/jquery-3.2.1.min.js'}}"></script>
  <script src="{{furl '/plugins/popper/popper.min.js'}}"></script>
  <script src="{{furl '/plugins/bootstrap/bootstrap.min.js'}}"></script>
  <script src="{{furl '/plugins/lodash/lodash.js'}}"></script>
  <script src="{{furl '/plugins/notify/bootstrap-notify.min.js'}}"></script>
  <script src="{{furl '/plugins/mustache/mustache.min.js'}}" type="text/javascript"></script>
  <!-- import validation -->
  <script src="{{furl '/plugins/validation/jquery.validate.min.js'}}"></script>

  <script src="{{hostScriptUrl}}" type="text/javascript"></script>

    <!-- common -->
  <script src="{{furl '/js/common/request.js'}}"></script>
  <script src="{{furl '/js/common/constants.js'}}"></script>
  <script src="{{furl '/js/common/initIFDRequest.js'}}"></script>
  <script src="{{furl '/js/common/common.js'}}"></script>
</head>

<body>
  <section class="aui-page-panel-content" id="content" role="main">
    {{{body}}}
  </section>
  
  <script src="{{furl '/plugins/datatables/jquery.dataTables.min.js'}}"></script>
  <script src="{{furl '/plugins/datatables/dataTables.bootstrap4.min.js'}}"></script>
  {{{block "pageScripts"}}} 
</body>

</html>