{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="{{furl '/css/manual_testcase_panel_execution.css'}}" type="text/css" />
  <link rel="stylesheet" href="{{furl '/css/all.css'}}" type="text/css" />
{{/contentFor}}
{{!< layout}}
<table class="table m-0 p-0" cellpadding="0" cellspacing="0" border="0" id="manual_testcase_execution_panel">
    <thead class="thead-default">
        <tr>
            <th>Version</th>
            <th>Test Cycle</th>
            <th>Status</th>
            <th>Defects</th>
            <th>Executed By</th>
            <th>Executed On</th>
            <th>
                <button class="btn btn-link" id="refresh-data">
                    <span class="fas fa-sync-alt fa-spin"></span>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{{#contentFor "pageScripts"}}
    <script src="{{furl '/plugins/moment/moment.min.js'}}"></script>
    <script src="{{furl '/js/manual_testcase_execution_panel.js'}}"></script>
{{/contentFor}}