{{#contentFor "pageStyles"}}
<link rel="stylesheet" href="{{furl '/plugins/autocomplete/jquery.auto-complete.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/css/manual_execution.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/css/all.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/plugins/selectpicker/css/bootstrap-select.css'}}" type="text/css" /> {{/contentFor}} 
{{!< layout}} 
<header class="m-0">
    <nav class="navbar navbar-dark bg-light">
        <img alt="Atlassian logo" src="images/logo.png">
        <h1 class="text-uppercase">{{title}}</h1>
        <span style="flex: 1 0 auto"></span>
    </nav>
</header>
<nav class="breadcrumb">
    <a class="breadcrumb-item" target="_parent" id="projectKey"></a>
    <span class="breadcrumb-item" id="cycleName"></span>
    <span class="breadcrumb-item" id="issueKey"></span>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <fieldset class="group-border">
                <legend class="group-border">Test Execution</legend>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="status">Status</label>
                            <select class="form-control" id="drpStatus" data-style="btn btn-outline-secondary" data-width="100%" class="selectpicker">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group" id="add_assign">
                            <label for="Assigned_to">Assigned to</label>
                            <select title="Add assignee" id="dropdownAssignee" class="selectpicker" data-width="100%" data-style="btn btn-outline-secondary"
                                data-live-search="true">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group" id="add_defect">
                            <label for="Defects">Defects</label>
                            <div class="w_add_defect_main form-control">
                                <ul class="list-inline">
                                    <li class="list-inline-item search-issue" style="width: 88px">
                                        <input type="text" class="form-control" id="_searchMainDefect" placeholder="Issues search" onkeyup="onKeyUpOfSearchMainDefect()">
                                    </li>
                                </ul>
                                <input type="text" class="form-control" id="searchMainDefect">
                                <canvas id="tempCanvas" width="300" height="150" style="display:none"></canvas>
                                <button type="button" id="addNewIssue"><span class="fa fa-plus-circle"></span></button>
                            </div>
                            {{!--
                            <select title="Add defects" data-style="btn btn-outline-secondary" class="selectpicker"
                                data-live-search="true" id="main-defects" data-tick-icon="fa-check-circle" data-icon-base="fa"
                                data-width="100%" multiple></select> --}}
                        </div>
                    </div>
                </div>
                <div class="form-group m-0">
                    <label for="Comment">Comment</label>
                    <textarea id="plan-comment" class="form-control" rows="5" placeholder="Enter Your Comment"></textarea>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <fieldset class="group-border">
                <legend class="group-border">Test Details</legend>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-responsive" cellpadding="0" cellspacing="0" border="0" class="display"
                            id="testcasedetail-table" width="100%">
                            <thead>
                                <tr>
                                    <th>order_id</th>
                                    {{!-- <th class="th-order-id">#</th> --}}
                                    <th>Test step</th>
                                    <th>Test data</th>
                                    <th>Exepected result</th>
                                    <th class="th-status">Status</th>
                                    <th>Attachments</th>
                                    <th class="td-defect">
                                        <div class="pos-relative">Defects
                                            <button class="btn btn-refresh-data" id="refresh-data-test-details">
                                                <span class="fas fa-sync-alt"></span>
                                            </button>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <br>
            </fieldset>
        </div>

        <div class="col-md-12">
            <fieldset class="group-border">
                <legend class="group-border">
                      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExecution" aria-expanded="false" aria-controls="collapseExecution">
                        <span class="oi" data-glyph="bug"></span>&nbsp;Test Case Execution History
                    </button>
                </legend>
                 <div class="collapse" id="collapseExecution">
                    <div class="row">                       
                        <table class="table table-striped table-bordered table-responsive" cellpadding="0" cellspacing="0" border="0" class="display"
                            id="exec-history-table" width="100%">
                            <thead>
                                <tr>
                                    <th>Field Name</th>
                                    <th>Original Value</th>
                                    <th>New Value</th>
                                    <th class="not-sort"><div class="pos-relative">Updated at
                                        {{!-- <button class="btn btn-link btn-refresh-data" id="refresh-data-execution-history">
                                            <span class="fas fa-sync-alt"></span>
                                        </button> --}}
                                    </div></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
{{#contentFor "pageScripts"}}
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>
    <script src="{{furl '/plugins/autocomplete/jquery.auto-complete.min.js'}}"></script>
    <script src="{{furl '/plugins/moment/moment.min.js'}}"></script>
    <script src="{{furl '/plugins/datatables/dataTables.rowGroup.min.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/datatables/ColReorderWithResize.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/selectpicker/js/bootstrap-select.js'}}" type="text/javascript"></script>
    <script src="{{furl '/js/manual_execution.js'}}" type="text/javascript"></script> 
{{/contentFor}}