{{#contentFor "pageStyles"}}
<link rel="stylesheet" href="{{furl '/css/manual_testcase_panel.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/css/testcase_management.css'}}" type="text/css" />
<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.3/css/rowReorder.bootstrap4.min.css" type="text/css"
/> {{/contentFor}} {{!< layout}}
 <div class="import-manual-testcase validate-form">
    <div id="panelImport">
        <div class="space-20"></div>
        <fieldset class="group-border import-group">
            <legend class="group-border">Import</legend>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">File Import</div>
                    <div class="col-sm-8">
                        <input class="form-control" type="file" accept=".xlsx" id="fileImport" name="fileImports">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">Sheet Name</div>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" id="sheetName" name="sheetNames" placeholder="Sheet Name..." value="Manual">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">Excel Column Testcase Name</div>
                    <div class="col-sm-8">
                        <input class="form-control" placeholder="Excel Column Testcase Name..." type="text" id="testCaseName" value="Test Case Name">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">Excel Column Ticket Key</div>
                    <div class="col-sm-8">
                        <input class="form-control" placeholder="Excel Column Ticket Key..." type="text" id="jiraTicketKey" value="Jira Ticket Key">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">Excel Column Test Step</div>
                    <div class="col-sm-8">
                        <input class="form-control" placeholder="Excel Column Test Step..." type="text" id="testStep" value="Test Step">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">Excel Column Test Data</div>
                    <div class="col-sm-8">
                        <input class="form-control" placeholder="Excel Column Test Data..." type="text" id="testData" value="Test Data">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">Excel Column Excepted Result</div>
                    <div class="col-sm-8">
                        <input class="form-control" placeholder="Excel Column Excepted Result..." type="text" id="exceptedResult" value="Expected Result">
                    </div>
                </div>
            </div>
            <button type="submit" id="submitFormManual" class="btn btn-outline-dark">Import</button>
            &nbsp; &nbsp;
            <button type="submit" id="cancelFormManual" class="btn btn-outline-dark">Cancel</button>
        </fieldset>
    </div>
    </div>
    <div class="modal-show-spinner" id="spinnerScenario">
        <span class="spinner">
            <span class="fa fa-spinner fa-pulse" style="color:#5a325a;"></span>
        </span>
    </div>
    <div id="body-loading-bar" style="display: none;">
        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="text-importing">Importing...</div>
            <div class="progress-bar-striped"></div>
        </div>
    </div>
    <div class="action-selected" id="action-selected">
        <div id='MessageHolder'></div>
        <a href="#" id="testAnchor"></a>
        <table id="main-tableVersion" class="table test-detail" cellpadding="0" cellspacing="0" border="0">
            <thead class="thead-default">
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Test Step</th>
                    <th>Test Data</th>
                    <th>Expected Result</th>
                    <th class="btn-fix">
                        <button class="btn btn-link" id="refresh-data">
                            <span class="fas fa-sync-alt fa-spin"></span>
                        </button>
                        <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" 
                        title="Export Test Case Data" 
                        onClick="exportManualTestcasetoExcel('#main-tableVersion');"
                            id="_export-data">
                            <span class="fas fa-cloud-download-alt"></span>
                        </a>
                        <a href="javascript:void(0)" id="importThisTestCase" class="import-data" data-toggle="tooltip" data-placement="top" title="Import Test Case">
                            <span class="fas fa-cloud-upload-alt"></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody id="tableVersion">
            </tbody>
        </table>
    </div>
    <hr>
    <div id="addNewStep">
        <form class="addNewStep_form">
            <div class="addNewStep_container">
                <div>
                    <textarea required placeholder="new step" name='step' data-field-name='step' class='form-control noresize add-new-content'></textarea>
                </div>
                <div>
                    <textarea required placeholder="new data" name='data' data-field-name='data' class='form-control noresize add-new-content'></textarea>
                </div>
                <div>
                    <textarea required placeholder="new expected result" name='result' data-field-name='result' class='form-control noresize add-new-content'></textarea>
                </div>
            </div>
            <div>
                <button class="btn btn-link" id="btnAddStep">
                    <span class="fa fa-plus-circle"></span>
                </button>
            </div>
        </form>
    </div>

    {{#contentFor "pageScripts"}}
    <script>
        $("form").validate({
            highlight: function (element, errorClass, validClass) {
                $(element).addClass("is-invalid").removeClass("is-valid");
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass("is-invalid");
            }
        });

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    </script>
    <script src="{{furl '/plugins/sortable/sortable.js'}}" type="text/javascript"></script> 
    <script src="{{furl '/plugins/xlsx/xlsx.full.min.js'}}" type="text/javascript"></script> 
    <script src="{{furl '/js/manual_testcase_panel.js'}}" type="text/javascript"></script>
    <script src="{{furl '/js/testcase_management.js'}}" type="text/javascript"></script>
    {{!-- <script src="{{furl '/js/manual_testcase.js'}}" type="text/javascript"></script>  --}}
    {{/contentFor}}