{{#contentFor "pageStyles"}}
<link rel="stylesheet" href="{{furl '/plugins/jquery-ui/jquery-ui.custom.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/css/testcase_management.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/css/manual_testcase_panel_execution.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/css/manual_testcase_panel.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/css/manual_testcase.css'}}" type="text/css" />
<link rel="stylesheet" href="{{furl '/css/all.css'}}" type="text/css" />
{{/contentFor}}
{{!< layout}} <header class="mb-0 bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 p-0">
                <nav class="navbar navbar-dark">
                    <img alt="INFOdation" src="/images/logo.png">
                    <h1>{{title}}</h1>
                </nav>
            </div>
            <div class="col-sm-4 align-self-center text-right">
                <a href="javascript:void(0)" onClick="fnExcelReportAll();">
                    <span class="fas fa-cloud-download-alt"></span> Export All Manual Testcases
                </a>
            </div>
        </div>
    </div>
    </header>

    <div class="modal-show-spinner" id="spinnerScenario">
        <span class="spinner">
            <span class="fa fa-spinner fa-pulse" style="color:#5a325a;"></span>
        </span>
    </div>

    <div id="body-loading-bar" style="display: none;">
        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="text-importing">Importing...</div>
            <div class="progress-bar-striped"></div>
        </div>
    </div>

    <div class="panel-content">
        <input type="text" id="projectId" value="{{projectId}}" class="d-none">
        <div class="container-fluid position-relative">
            <button type="button" id="togglePanel" onclick="togglePanel(this)" class="btn btn-outline-dark btn-toggle-panel">
                <span class="fas fa-arrow-left"></span>
            </button>
            <button type="button" class="btn btn-outline-dark btn-import-testcase" id="importManualTestcase" title="Import Multi Testcase">
                <span class="fas fa-file"></span>
            </button>
            <div class="tab-main-content">
                <div class="content-main-tab active">
                    <div class="row">
                        <div class="col-sm-3 pl-0 left-content">
                            <input type="text" class="d-none" value="{{stringObjTestCase}}" id="originValObjTestCase">
                            <div class="form-group mb-0 position-relative">
                                <input type="text" id="txtSearchTestCase" onkeyup="searchTestCase(this, 'MANUAL-TEST')"
                                    class="form-control rounded-0" placeholder="Search testcase..." />
                                <a href="javascript:initLoadAllFeature('{{JIRAprojectKey}}', 'MANUAL-TEST')" id="reloadFeature"><span
                                        class="fas fa-sync-alt"></span></a>
                            </div>
                            <ul id="resultTestCase" class="list-group">
                                {{#if objTestCase}}
                                {{#each objTestCase}}
                                <li class="list-group-item" data-project-id="{{projectId}}" data-jira-id="{{jiraTicketId}}"
                                    data-issue-key="{{key}}">
                                    <span><img style="width: 20px;" src="../../images/manual.png"></span>
                                    <span class="issue-key">{{key}}</span>
                                    <span class="issue-title d-block">{{summary}}</span>
                                </li>
                                {{/each}}
                                {{else}}
                                <li class="list-group-item" title="No data">No data</li>
                                {{/if}}
                            </ul>
                        </div>
                        <div class="col-sm-9 right-content">
                            <div class="right-panel">
                                <div class="import-manual-testcase validate-form">
                                    <div id="panelImport">
                                        <div class="space-20"></div>
                                        <fieldset class="group-border import-group">
                                            <legend class="group-border">Import</legend>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-4">File Import</div>
                                                    <div class="col-sm-8"><input class="form-control" type="file"
                                                            accept=".xlsx" id="fileImport" name="fileImports"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-4">Sheet Name</div>
                                                    <div class="col-sm-8"><input class="form-control" type="text" id="sheetName"
                                                            name="sheetNames" placeholder="Sheet Name..." value="Manual"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-4">Excel Column Testcase Name</div>
                                                    <div class="col-sm-8"><input class="form-control" placeholder="Excel Column Testcase Name..."
                                                            type="text" id="testCaseName" value="Test Case Name"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-4">Excel Column Ticket Key</div>
                                                    <div class="col-sm-8"><input class="form-control" placeholder="Excel Column Ticket Key..."
                                                            type="text" id="jiraTicketKey" value="Jira Ticket Key"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-4">Excel Column Test Step</div>
                                                    <div class="col-sm-8"><input class="form-control" placeholder="Excel Column Test Step..."
                                                            type="text" id="testStep" value="Test Step"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-4">Excel Column Test Data</div>
                                                    <div class="col-sm-8"><input class="form-control" placeholder="Excel Column Test Data..."
                                                            type="text" id="testData" value="Test Data"></div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-4">Excel Column Excepted Result</div>
                                                    <div class="col-sm-8"><input class="form-control" placeholder="Excel Column Excepted Result..."
                                                            type="text" id="exceptedResult" value="Expected Result"></div>
                                                </div>
                                            </div>
                                            <button type="submit" id="submitFormManual" class="btn btn-outline-dark">Import</button>
                                            &nbsp; &nbsp;
                                            <button type="submit" id="cancelFormManual" class="btn btn-outline-dark">Cancel</button>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="action-selected" id="action-selected">
                                    <div class="space-20"></div>
                                    <div class="detail-testcase">
                                        {{!-- export data to excel file --}}
                                        <div class="text-right">
                                            <a class="breadcrumb-item" target="_blank" id="JIRAticketKey">Back to</a>
                                            <a href="javascript:void(0)" onClick="exportManualTestcasetoExcel('#main-tableVersion-manual-testcase');">
                                                <span class="fas fa-cloud-download-alt"></span> Export Test Case Data
                                            </a>&nbsp; &nbsp;
                                            <a href="javascript:void(0)" id="importThisTestCase">
                                                <span class="fas fa-cloud-upload-alt"></span> Import Test Case
                                            </a>
                                        </div>
                                        <div id='MessageHolder'></div>
                                        <a href="#" id="testAnchor"></a>
                                        {{!-- export data to excel file --}}
                                        <table id="main-tableVersion-manual-testcase" class="table test-detail"
                                            cellpadding="0" cellspacing="0" border="0">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th style="width: 10px">#</th>
                                                    <th>Test Step</th>
                                                    <th>Test Data</th>
                                                    <th>Expected Result</th>
                                                    <th style="width: 10px">
                                                        <button class="btn btn-link" id="refresh-data">
                                                            <span class="fas fa-sync-alt fa-spin"></span>
                                                        </button>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="tableVersion">
                                            </tbody>
                                        </table>
                                        <div class="space-20"></div>
                                        <fieldset class="group-border">
                                            <legend class="group-border">Add data</legend>
                                            <div id="addNewStep">
                                                <form class="addNewStep_form">
                                                    <div class="addNewStep_container">
                                                        <div>
                                                            <textarea required placeholder="new step" name='step'
                                                                data-field-name='step' class='form-control noresize add-new-content'></textarea>
                                                        </div>
                                                        <div>
                                                            <textarea required placeholder="new data" name='data'
                                                                data-field-name='data' class='form-control noresize add-new-content'></textarea>
                                                        </div>
                                                        <div>
                                                            <textarea required placeholder="new expected result" name='result'
                                                                data-field-name='result' class='form-control noresize add-new-content'></textarea>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <button class="btn btn-link" id="btnAddStep">
                                                            <span class="fa fa-plus-circle"></span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="modal fade" id="modalAddTestCycle" tabindex="-1" role="dialog"
                                        aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Add To Test Cycle</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group"></div>
                                                            <div class="form-group">
                                                                <label for="pwd">Test Cycle:</label>
                                                                <select disabled id="project_cycle" class="form-control">
                                                                      <optgroup id="selectCycle" label="Select Test Cycle"></optgroup>
                                                                      <option> loading ... </option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="Assigned_to">Assigned to</label>
                                                                <select disabled id="project_user" class="form-control">
                                                                    <option> loading ... </option>
                                                                </select>
                                                            </div>
                                                            <div class="m-0 form-group">
                                                                <button type="button" id="add-test-cycle" disabled
                                                                    class="btn btn-primary">Add</button>
                                                                <button type="cancel" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                                                            </div>
                                                            <label class="m-0 error-add-testcycle" id="error-add-testcycle"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="execution-testcase">
                                        <table class="table m-0 p-0" cellpadding="0" cellspacing="0" border="0" id="manual_testcase_execution_panel">
                                            <thead class="thead-default">
                                                <tr>
                                                    <th>Version</th>
                                                    <th>Test Cycle</th>
                                                    <th>Status</th>
                                                    <th>Defects</th>
                                                    <th>Executed By</th>
                                                    <th>Executed On</th>
                                                    <th>
                                                        <button class="btn btn-link" id="openDialogTestCycle"
                                                            data-toggle="modal" data-target="#modalAddTestCycle"
                                                            data-toggle="tooltip" title="Add Cycle">
                                                            <span class="fa fa-plus-circle"></span>
                                                        </button>
                                                        <button class="btn btn-link" id="refresh-data-execution">
                                                            <span class="fas fa-sync-alt fa-spin"></span>
                                                        </button>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="no-action-selected" id="no-action-selected">
                                    <div class="placeholder-section__legend">Select a testcase in the left menu</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {{#contentFor "pageScripts"}}
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        }); 
    </script>
    {{!--
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script> --}}
    <script src="{{furl '/plugins/lodash/lodash.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/xlsx/xlsx.full.min.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/moment/moment.min.js'}}"></script>
    <script src="{{furl '/plugins/sortable/sortable.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/fuzzy-search/fuse.min.js'}}" type="text/javascript"></script>
    <script src="{{furl '/plugins/jquery-ui/jquery-ui.custom.js'}}" type="text/javascript"></script>
    <script src="{{furl '/js/testcase_management.js'}}" type="text/javascript"></script>
    <script src="{{furl '/js/manual_testcase.js'}}" type="text/javascript"></script>

    {{/contentFor}}