{{#contentFor "pageStyles"}}
    <link rel="stylesheet" href="/css/icon/config-font/flaticon.css" type="text/css" />
    <link rel="stylesheet" href="/css/configuration.css" type="text/css" /> 
{{/contentFor}} 
{{!< layout}} 
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title-panel" style="margin-top: 10px;">SETTINGS</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="frmSettings">
                <div class="grid">
                    <div class="grid-row">
                        <div class="grid-column">
                            <div class="grid-title" style="border-top:0">
                                Name
                            </div>
                        </div>
                        <div class="grid-column">
                            <div class="grid-title" style="border-top:0; padding-right: 0">
                                Value
                                <div style="flex: 1 0 auto"></div>
                                <div class="cell-fn">
                                    <button type="button" class="btn no-border-radius">
                                        <span class="flaticon-mark"></span>
                                    </button>
                                    <button type="button" class="btn no-border-radius">
                                        <span class="flaticon-cross-out"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="settingContent" class="grid-body">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{#contentFor "pageScripts"}}
<script src="{{furl '/plugins/mustache/mustache.min.js'}}" type="text/javascript"></script>
<script src="{{furl '/js/settings.js'}}" type="text/javascript"></script> 
{{/contentFor}}