{{#contentFor "pageStyles"}}
  <link rel="stylesheet" href="{{furl '/css/testcase_history.css'}}" type="text/css" />
{{/contentFor}}
{{!< layout}}
<table class="table table-striped table-bordered" cellpadding="0" cellspacing="0" border="0" class="display" id="testcase-history-table" width="100%">
    <thead>
        <tr>
            <th>Field Name</th>
            <th>Original Value</th>
            <th>New Value</th>
            <th>Updated at</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{{#contentFor "pageScripts"}}
    <script src="{{furl '/js/testcase_history.js'}}" type="text/javascript"></script>
{{/contentFor}} 